In [ ]:
%%capture

# Upgrade pip
!pip install --upgrade pip
# Connectivity
!pip install psycopg2-binary  # PostgreSQL adapter
# !pip install snowflake-connector-python  # Snowflake connector
!pip install snowflake-connector-python==3.15.0 # Snowflake connector Older Version
!pip install snowflake-sqlalchemy  # Snowflake SQLAlchemy connector
!pip install warnings # Warnings management
# !pip install pyarrow # Serialization
!pip install keyring==23.11.0 # Key management
!pip install sqlalchemy==1.4.46 # SQLAlchemy
!pip install requests # HTTP requests
!pip install boto3 # AWS SDK
# !pip install slackclient # Slack API
!pip install oauth
!pip install gspread==5.9.0 # Google Sheets API
!pip install gspread_dataframe # Google Sheets API
!pip install google.cloud # Google Cloud
# Data manipulation and analysis
!pip install polars
!pip install pandas==2.2.1
!pip install numpy
# !pip install fastparquet
!pip install openpyxl # Excel file handling
!pip install xlsxwriter # Excel file handling
# Linear programming
!pip install pulp
# Date and time handling
!pip install --upgrade datetime
!pip install python-time
!pip install --upgrade pytz
# Progress bar
!pip install tqdm
# Database data types
!pip install db-dtypes
# Geospatial data handling
# !pip install geopandas
# !pip install shapely
# !pip install fiona
# !pip install haversine
# Plotting

# Modeling
!pip install statsmodels
!pip install scikit-learn

!pip install import-ipynb

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from datetime import datetime
import calendar
import json
from datetime import date, timedelta
from oauth2client.service_account import ServiceAccountCredentials
import setup_environment_2
import importlib
import import_ipynb
import warnings
from datetime import datetime, timedelta
import pytz  
import os
import snowflake.connector
import boto3
warnings.filterwarnings("ignore")
importlib.reload(setup_environment_2)
setup_environment_2.initialize_env()
import base64
from botocore.exceptions import ClientError
from requests import get
from pathlib import Path
import requests
import time
import gspread

/home/ec2-user/anaconda3/envs/python3/lib/python3.12/site-packages/snowflake/connector/options.py:104: UserWarning: You have an incompatible version of 'pyarrow' installed (20.0.0), please install a version that adheres to: 'pyarrow<19.0.0; extra == "pandas"'
  warn_incompatible_dep(

/home/ec2-user/.Renviron
/home/ec2-user/service_account_key.json

In [ ]:
def query_snowflake(query, columns=[]):
    import os
    import snowflake.connector
    import numpy as np
    import pandas as pd
    con = snowflake.connector.connect(
        user =  os.environ["SNOWFLAKE_USERNAME"],
        account= os.environ["SNOWFLAKE_ACCOUNT"],
        password= os.environ["SNOWFLAKE_PASSWORD"],
        database =os.environ["SNOWFLAKE_DATABASE"]
    )
    try:
        cur = con.cursor()
        cur.execute("USE WAREHOUSE COMPUTE_WH")
        cur.execute(query)
        if len(columns) == 0:
            out = pd.DataFrame(np.array(cur.fetchall()))
        else:
            out = pd.DataFrame(np.array(cur.fetchall()),columns=columns)
        return out
    except Exception as e:
        print("Error: ", e)
    finally:
        cur.close()
        con.close()

In [ ]:
query = '''
WITH prs AS (
SELECT DISTINCT product_purchased_receipts.purchased_receipt_id,
                purchased_receipts.purchased_order_id,
                DATE_PART('Day', purchased_receipts.date::date) AS DAY,
                DATE_PART('month', purchased_receipts.date::date) AS MONTH,
                DATE_Part('year', purchased_receipts.date::date) AS YEAR,
				DATE_Part('hour', purchased_receipts.date) AS hour,
                products.id AS product_id,
                CONCAT(products.name_ar, ' ', products.size, ' ', product_units.name_ar) AS sku,
                brands.name_ar AS Brand,
                categories.name_ar as category,
                products.description,
                purchased_receipts.warehouse_id AS warehouse_id,
                warehouses.name as warehouse,
                packing_units.name_ar AS packing_unit,
                purchased_receipts.discount AS Total_discount,
                purchased_receipts.return_orders_discount,
                purchased_receipts.discount_type_id,
                suppliers.id AS supplier_id,
                suppliers.name AS supplier_name,
                purchased_receipt_statuses.name_ar AS PR_status,
                product_purchased_receipts.basic_unit_count,
                product_purchased_receipts.purchased_item_count AS purchase_count,
                product_purchased_receipts.purchased_item_count*product_purchased_receipts.basic_unit_count AS purchase_min_count,
                product_purchased_receipts.item_price,
                product_purchased_receipts.final_price/product_purchased_receipts.purchased_item_count AS final_item_price,
                product_purchased_receipts.total_price AS purchase_price,
                CASE WHEN product_purchased_receipts.vat = 'true' THEN product_purchased_receipts.total_price * 0.14
                     ELSE CASE WHEN product_purchased_receipts.vat = 'false' THEN product_purchased_receipts.total_price * 0
                               END
                END AS vat,
                CASE WHEN purchased_receipts.discount_type_id = 2 THEN (product_purchased_receipts.discount/100) * product_purchased_receipts.total_price
                     ELSE product_purchased_receipts.discount
                END AS SKU_discount,
                purchased_receipts.total_price AS pr_value,
                CASE
                    WHEN product_purchased_receipts.t_tax_id = 1 THEN product_purchased_receipts.total_price * 0.05
                    ELSE CASE
                             WHEN product_purchased_receipts.t_tax_id = 2 THEN product_purchased_receipts.total_price * 0.08
                             ELSE CASE
                                      WHEN product_purchased_receipts.t_tax_id = 3 THEN product_purchased_receipts.total_price * 0.1
                                      ELSE 0
                                  END
                         END
                END AS table_tax,
                product_purchased_receipts.final_price AS Final_Price,
                product_purchased_receipts.product_type_id,
                purchased_receipts.debt_note_value as credit_note,
                purchased_receipts.tips,
                purchased_receipts.delivery_fees,
                case when purchased_receipts.is_actual = 'true' then 'Real' 
                     else 'Virtual' 
                     end as is_actual
                     
FROM product_purchased_receipts
LEFT JOIN products ON products.id = product_purchased_receipts.product_id
LEFT JOIN packing_unit_products ON packing_unit_products.product_id = products.id
LEFT JOIN purchased_receipts ON purchased_receipts.id = product_purchased_receipts.purchased_receipt_id
LEFT JOIN purchased_receipt_statuses ON purchased_receipt_statuses.id = purchased_receipts.purchased_receipt_status_id
LEFT JOIN packing_units ON packing_units.id = product_purchased_receipts.packing_unit_id
LEFT JOIN product_units ON products.unit_id = product_units.id
LEFT JOIN suppliers ON suppliers.id = purchased_receipts.supplier_id
LEFT JOIN brands ON brands.id = products.brand_id
left join categories on categories.id = products.category_id
left join warehouses on warehouses.id = purchased_receipts.warehouse_id
WHERE product_purchased_receipts.purchased_item_count <> 0
      AND purchased_receipts.purchased_receipt_status_id IN (4,5,7)
      AND purchased_receipts.date::date >= current_date
    and product_purchased_receipts.final_price > 0 
     
     
    )
    SELECT product_id,
	sum(purchase_min_count) as all_day_qty ,
	coalesce(sum(case when hour between DATE_Part('hour',CURRENT_TIME) -1 and DATE_Part('hour',CURRENT_TIME) then purchase_min_count end),0) as last_hour_qty,
	avg(final_item_price/basic_unit_count) as item_price
    FROM prs
	group by 1
'''
prs_data = setup_environment_2.dwh_pg_query(query, columns = ['product_id','all_day_qty','last_hour_qty','item_price']) 
prs_data.product_id=pd.to_numeric(prs_data.product_id)
prs_data.all_day_qty=pd.to_numeric(prs_data.all_day_qty)
prs_data.last_hour_qty=pd.to_numeric(prs_data.last_hour_qty)
prs_data.item_price=pd.to_numeric(prs_data.item_price)

In [ ]:
query = '''
SELECT
  t_product_id AS product_id,
  s_beg_stock AS av_STOCKS,
  p_purchased_item_count AS pr_qty,
  p_final_price AS pr_value,
  CASE
    WHEN p_purchased_item_count <> 0 THEN p_final_price / p_purchased_item_count
    ELSE 0
  END AS item_price
FROM
  finance.wac_tracker wt
  JOIN products ON products.id = wt.t_product_id 
  JOIN brands ON brands.id = products.brand_id
  JOIN categories c ON c.id = products.category_id
  JOIN product_units ON product_units.id = products.unit_id
  where wt.t_date::date = CURRENT_DATE
  and p_purchased_item_count > 0 
'''
try:
    reflected_in_wac = setup_environment_2.dwh_pg_query(query, columns = ['product_id','av_STOCKS','pr_qty','pr_value','cu_item_price']) 
    reflected_in_wac.product_id=pd.to_numeric(reflected_in_wac.product_id)
    reflected_in_wac.av_STOCKS=pd.to_numeric(reflected_in_wac.av_STOCKS)
    reflected_in_wac.pr_qty=pd.to_numeric(reflected_in_wac.pr_qty)
    reflected_in_wac.cu_item_price=pd.to_numeric(reflected_in_wac.cu_item_price)
    reflected_in_wac.pr_value=pd.to_numeric(reflected_in_wac.pr_value)
except:    
    columns = ['product_id','av_STOCKS','pr_qty','pr_value','cu_item_price']
    reflected_in_wac = pd.DataFrame(columns=columns)

In [ ]:
def get_snowflake_timezone():
    """Get the current timezone from Snowflake."""
    query = "SHOW PARAMETERS LIKE 'TIMEZONE'"
    result = query_snowflake(query)
    return result[1].values[0]

In [ ]:
TIMEZONE = get_snowflake_timezone()
print(f"Snowflake timezone: {TIMEZONE}")

In [ ]:
COMMERCIAL_MIN_PRICE_QUERY = f'''
WITH to_remove AS (
    SELECT 
        check_date AS start_date,
        (check_date + INTERVAL '1 month') + 6 AS end_date 
    FROM (
        SELECT 
            CASE 
                WHEN DATE_PART('day', Current_timestamp::date) < 7 
                THEN DATE_TRUNC('month', Current_timestamp::date) - INTERVAL '1 month'
                ELSE DATE_FROM_PARTS(
                    YEAR(Current_timestamp::Date), 
                    MONTH(Current_timestamp::Date), 
                    1
                )  
            END AS check_date
    )
) 

SELECT  
    sku_id AS product_id,
    region,
    min_price AS commercial_min_price,
    latest_date
FROM (
    SELECT 
        product_id AS sku_id,
        product_name AS sku,
        brand,
        category AS cat,
        region,
        min_price,
        created_at,
        MAX(created_at) OVER (PARTITION BY product_id, region) AS latest_date
    FROM finance.minimum_prices
    WHERE is_deleted = 'false'
        AND created_at BETWEEN (SELECT start_date FROM to_remove) AND (SELECT end_date FROM to_remove)
) comm
WHERE created_at = latest_date
'''

# Execute commercial min price query
print("Loading commercial minimum price constraints...")
df_commercial_min = query_snowflake(COMMERCIAL_MIN_PRICE_QUERY)
df_commercial_min['commercial_min_price'] = pd.to_numeric(df_commercial_min['commercial_min_price'])
df_commercial_min

In [ ]:
df_commercial_min[df_commercial_min['product_id']==2423]

In [ ]:
WAREHOUSE_MAPPING = [
    ('Greater Cairo', 'Mostorod', 1, 700),
    ('Greater Cairo', 'Barageel', 236, 701),
    ('Greater Cairo', 'Sakkarah', 962, 701),
    ('Delta West', 'El-Mahala', 337, 703),
    ('Delta West', 'Tanta', 8, 703),
    ('Delta East', 'Mansoura FC', 339, 704),
    ('Delta East', 'Sharqya', 170, 704),
    ('Upper Egypt', 'Assiut FC', 501, 1124),
    ('Upper Egypt', 'Bani sweif', 401, 1126),
    ('Upper Egypt', 'Menya Samalot', 703, 1123),
    ('Upper Egypt', 'Sohag', 632, 1125),
    ('Alexandria', 'Khorshed Alex', 797, 702),
]
mapping_wh = pd.DataFrame(
        WAREHOUSE_MAPPING,
        columns=['region', 'warehouse', 'warehouse_id', 'cohort_id'])
mapping_wh=mapping_wh[['region','cohort_id']].drop_duplicates()
df_commercial_min=df_commercial_min.merge(mapping_wh,on='region')
df_commercial_min

In [ ]:
query = '''
select 
		f.product_id,
		CONCAT(products.name_ar,' ',products.size,' ',product_units.name_ar) as sku,
		brands.name_ar as brand, 
		categories.name_ar as cat,	
		f.wac1,
		f.wac_p
from finance.all_cogs f
JOIN products on products.id=f.product_id
JOIN brands on products.brand_id = brands.id 
JOIN categories ON products.category_id = categories.id
JOIN product_units ON product_units.id = products.unit_id 
where current_timestamp between f.from_date and f.to_date 
and not categories.name_ar in (
    SELECT categories.name_ar AS cat
                    FROM categories
                    JOIN sections s ON s.id = categories.section_id
                    WHERE   categories.name_ar LIKE '%سايب%'
         
                        OR  categories.name_ar LIKE '%بالتة%'
                        OR  categories.section_id IN (225, 318, 285, 121, 87, 351, 417)

)
'''

wacs = query_snowflake(query) 
wacs.product_id=pd.to_numeric(wacs.product_id)
wacs.wac1=pd.to_numeric(wacs.wac1)
wacs.wac_p=pd.to_numeric(wacs.wac_p)

In [ ]:
query ='''

select region,cohort_id,product_id,packing_unit_id,basic_unit_count,price
from (
select   case when cpc.cohort_id in (700,695) then 'Cairo'
             when cpc.cohort_id in (701) then 'Giza'
             when cpc.cohort_id in (704,698) then 'Delta East'
             when cpc.cohort_id in (703,697) then 'Delta West'
             when cpc.cohort_id in (696,1123,1124,1125,1126) then 'Upper Egypt'
             when cpc.cohort_id in (702,699) then 'Alexandria'
        end as region,
		cohort_id,
        pu.product_id,
		pu.packing_unit_id as packing_unit_id,
		pu.basic_unit_count,
        cpc.price as price,
		cpc.created_at,
		max(cpc.created_at)over(partition by pu.product_id ,pu.packing_unit_id,cohort_id) as max_date 
from cohort_pricing_changes cpc 
join    PACKING_UNIT_PRODUCTS pu on pu.id = cpc.product_packing_unit_id
WHERE   cpc.cohort_id in (700,701,702,703,704,696,695,698,697,699,1123,1124,1125,1126)
)x 
where created_at = max_date
'''
prices = setup_environment_2.dwh_pg_query(query, columns = ['region','cohort_id','product_id','packing_unit_id','basic_unit_count','price'])
prices.product_id=pd.to_numeric(prices.product_id)
prices.cohort_id=pd.to_numeric(prices.cohort_id)
prices.packing_unit_id=pd.to_numeric(prices.packing_unit_id)
prices.basic_unit_count=pd.to_numeric(prices.basic_unit_count)
prices.price=pd.to_numeric(prices.price)

In [ ]:
query = '''
select region,product_id,optimal_margin,coalesce(MIN_BOUNDARY,optimal_margin) as MIN_BOUNDARY
from (
select region,product_id,greatest(optimal_bm,coalesce(MIN_BOUNDARY,optimal_bm)) as optimal_margin,MIN_BOUNDARY,row_number()over(partition by region,product_id order by created_at desc) as rnk 
from materialized_views.PRODUCT_STATISTICS
qualify rnk = 1 
)
where optimal_margin is not null
'''
stats = query_snowflake(query, columns = ['region','product_id','optimal_margin','min_margin'])
stats.product_id=pd.to_numeric(stats.product_id)
stats.optimal_margin=pd.to_numeric(stats.optimal_margin)
stats.min_margin=pd.to_numeric(stats.min_margin)

In [22]:
query = '''
SELECT DISTINCT cat, brand, margin as target_bm
FROM    performance.commercial_targets cplan
QUALIFY CASE WHEN DATE_TRUNC('month', MAX(DATE)OVER()) = DATE_TRUNC('month', CURRENT_DATE) THEN DATE_TRUNC('month', CURRENT_DATE)
ELSE DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') END = DATE_TRUNC('month', date)
'''
brand_cat_target  = query_snowflake(query)
brand_cat_target.target_bm=pd.to_numeric(brand_cat_target.target_bm)

In [23]:
query = '''
select cat,sum(target_bm *(target_nmv/cat_total)) as cat_target_margin
from (
select *,sum(target_nmv)over(partition by cat) as cat_total
from (
select cat,brand,avg(target_bm) as target_bm , sum(target_nmv) as target_nmv
from (
SELECT DISTINCT date,city as region,cat, brand, margin as target_bm,nmv as target_nmv
FROM    performance.commercial_targets cplan
QUALIFY CASE WHEN DATE_TRUNC('month', MAX(DATE)OVER()) = DATE_TRUNC('month', CURRENT_DATE) THEN DATE_TRUNC('month', CURRENT_DATE)
ELSE DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') END = DATE_TRUNC('month', date)
)
group by all
)
)
group by all 
'''
cat_target  = query_snowflake(query)
cat_target.cat_target_margin=pd.to_numeric(cat_target.cat_target_margin)

In [ ]:
query = '''
select * 
from materialized_views.negative_margin_exceptions
'''
exceptions = query_snowflake(query, columns = ['region','product_id','sku'])
exceptions.product_id=pd.to_numeric(exceptions.product_id)
exceptions=exceptions[['region','product_id']]
exceptions['exception']=1

cohort_def = {
    'region': ['Cairo', 'Giza', 'Alexandria', 'Delta East', 'Delta West','Upper Egypt','Upper Egypt','Upper Egypt','Upper Egypt'],
    'cohort_id': [700, 701, 702, 704, 703, 1123,1124,1125,1126]
}
region_cohort_map = pd.DataFrame(cohort_def)
exceptions = exceptions.merge(region_cohort_map,on='region')

In [ ]:
query = '''
select  product_id ,sum(AVAILABLE_STOCK) as stocks
from materialized_views.stock_snap_shots_recent 
where date_trunc('hour',Timestamp)  =  date_trunc('hour',CURRENT_TIMESTAMP) - interval '1 hour'
and   warehouse_id not in (6,9,10)
group by all 
'''
stocks = query_snowflake(query, columns = ['product_id','stocks'])
stocks.product_id=pd.to_numeric(stocks.product_id)
stocks.stocks=pd.to_numeric(stocks.stocks)

In [ ]:
merged_data = prs_data.merge(reflected_in_wac,on='product_id',how='left')
merged_data=merged_data.fillna(0)
final_data = wacs.merge(merged_data,on='product_id',how='left')
final_data = final_data.merge(stocks,on='product_id',how='left')
final_data = final_data.fillna(0)
final_data['av_STOCKS'] =final_data['stocks']
final_data['not_reflected_qty'] = final_data['all_day_qty'] - final_data['pr_qty']
final_data['not_reflected_qty'] = final_data['not_reflected_qty'].fillna(0)
final_data['new_wac1'] = (((final_data['av_STOCKS']+final_data['pr_qty'])*final_data['wac1'])+(final_data['not_reflected_qty']*final_data['item_price']))/(final_data['av_STOCKS']+final_data['pr_qty']+final_data['not_reflected_qty'])
final_data['wac1_change'] = (final_data['new_wac1']-final_data['wac1'])/final_data['wac1']
final_data['new_wac_p'] = final_data['wac_p'] *(1+final_data['wac1_change'])
final_data['new_wac_p'] = final_data['new_wac_p'].fillna(final_data['wac_p'])
final_data = final_data.merge(prices,on='product_id')
final_data['new_wac_p'] = final_data['new_wac_p']*final_data['basic_unit_count'] 
final_data['bm'] = (final_data['price']-final_data['new_wac_p'])/final_data['price']
final_data = final_data.merge(stats,on=['product_id','region'],how='left')
final_data = final_data.merge(brand_cat_target,on=['cat','brand'],how='left')
final_data = final_data.merge(cat_target,on=['cat'])
final_data['final_optimal'] = final_data['optimal_margin'].fillna(final_data["target_bm"]).fillna(final_data["cat_target_margin"])
final_data['final_min'] = final_data['min_margin'].fillna(final_data["target_bm"]*0.8).fillna(final_data["cat_target_margin"]*0.8)

cond = [
    
    ((final_data['av_STOCKS'].isna()) & (final_data['bm']<0)),
    ((~final_data['av_STOCKS'].isna()) & (final_data['bm']<final_data['final_min']*0.5)&(final_data['cat'] != 'حاجه ساقعه')),
    ((~final_data['av_STOCKS'].isna()) & (final_data['bm']<0)&(final_data['cat'] == 'حاجه ساقعه')),
    
] 
cho = [
    final_data['new_wac_p']/(1-final_data['final_optimal']) , 
    final_data['new_wac_p']/(1-final_data['final_optimal']),
    final_data['new_wac_p']/(1-final_data['final_optimal'])
    
]
final_data['final_new_price'] = np.select(cond,cho,np.nan)
final_data['final_new_price'] = np.round(final_data['final_new_price']/4)*4
final_data = final_data[~final_data['final_new_price'].isna()]
final_data = final_data[final_data['final_new_price']>=final_data['price']*1.005]

final_data = final_data[(final_data['stocks']> 0)|(final_data['all_day_qty']>0)]
final_data = final_data.merge(exceptions,on=['product_id','region','cohort_id'],how='left')
final_data=final_data[final_data['exception'].isna()]
final_data.sort_values(['cohort_id', 'product_id', 'basic_unit_count']).reset_index(drop=True)
final_data['ind'] = 1
final_data['ind'] = final_data.groupby(['cohort_id', 'product_id']).ind.cumsum()
remove_min_pu = pd.read_csv('skus_to_remove_min.csv')
remove_min_pu['remove_min'] = 1
final_data = final_data.merge(remove_min_pu[['product_id','remove_min']], on='product_id', how='left')

to_upload = final_data[['cohort_id','product_id','sku','packing_unit_id','final_new_price','region','ind','remove_min']]

In [ ]:
to_upload = prices.copy()
to_upload=to_upload.merge(wacs ,on ='product_id')
to_upload = to_upload.merge(df_commercial_min,on=['product_id','cohort_id'])
to_upload['commercial_min_price']=to_upload['commercial_min_price']*to_upload['basic_unit_count']
to_upload=to_upload[to_upload['price']<to_upload['commercial_min_price']*0.9975]
to_upload['final_new_price'] = np.round(to_upload['commercial_min_price']*4)/4
to_upload['ind'] =1 
to_upload['remove_min'] = np.nan
# to_upload[to_upload['brand']=='كلوركس']

In [15]:
query = '''
with mapping as (
select *
from (
values 
    ('Cairo', 'Mostorod', 1, 700),
    ('Giza', 'Barageel', 236, 701),
    ('Giza', 'Sakkarah', 962, 701),
    ('Delta West', 'El-Mahala', 337, 703),
    ('Delta West', 'Tanta', 8, 703),
    ('Delta East', 'Mansoura FC', 339, 704),
    ('Delta East', 'Sharqya', 170, 704),
    ('Upper Egypt', 'Assiut FC', 501, 1124),
    ('Upper Egypt', 'Bani sweif', 401, 1126),
    ('Upper Egypt', 'Menya Samalot', 703, 1123),
    ('Upper Egypt', 'Sohag', 632, 1125),
    ('Alexandria', 'Khorshed Alex', 797, 702)
)x(region,warehouse_name,warehouse_id,cohort_id)

),
av_stocks as (
with parent_whs as (
select * 
from (
VALUES
(236,343),
(1,467),
(962,343)
)x(parent_id,child_id)

)
select warehouse_id,product_id,case when stocks_child is not null and stocks = 0 then stocks_child else stocks end as stocks 
from (
SELECT 
    pw.warehouse_id,
    pw.product_id,
    pw.available_stock::INTEGER AS stocks,
	pw2.available_stock::INTEGER AS stocks_child
	

FROM product_warehouse pw
left join parent_whs p on p.parent_id = pw.warehouse_id
left join product_warehouse pw2 on pw2.warehouse_id = p.child_id and pw.product_id = pw2.product_id
WHERE pw.warehouse_id NOT IN (6, 9, 10)
    AND pw.is_basic_unit = 1
)

),

 cat_brand_target as (
    SELECT DISTINCT cat, brand, margin as target_bm
    FROM performance.commercial_targets cplan
    QUALIFY CASE 
        WHEN DATE_TRUNC('month', MAX(DATE) OVER()) = DATE_TRUNC('month', Current_timestamp::date) 
        THEN DATE_TRUNC('month', Current_timestamp::date)
        ELSE DATE_TRUNC('month', Current_timestamp::date - INTERVAL '1 month') 
    END = DATE_TRUNC('month', date)
),
cat_target as (
    select cat, sum(target_bm * (target_nmv/cat_total)) as cat_target_margin
    from (
        select *, sum(target_nmv) over(partition by cat) as cat_total
        from (
            select cat, brand, avg(target_bm) as target_bm, sum(target_nmv) as target_nmv
            from (
                SELECT DISTINCT date, city as region, cat, brand, margin as target_bm, nmv as target_nmv
                FROM performance.commercial_targets cplan
                QUALIFY CASE 
                    WHEN DATE_TRUNC('month', MAX(DATE) OVER()) = DATE_TRUNC('month', Current_timestamp::date) 
                    THEN DATE_TRUNC('month', Current_timestamp::date)
                    ELSE DATE_TRUNC('month', Current_timestamp::date - INTERVAL '1 month') 
                END = DATE_TRUNC('month', date)
            ) group by all
        )
    ) group by all 
)
select distinct cohort_id,product_id,sku,brand,cat,packing_unit_id,BASIC_UNIT_count,wac_p*BASIC_UNIT_COUNT as wac,coalesce(coalesce(target_bm,cat_target_margin),0.1) as margin,
wac/(1-margin) as price
from (
select distinct 
pw.warehouse_id,
m.cohort_id,
p.id as product_id,
CONCAT(p.name_ar,' ',p.size,' ',product_units.name_ar) as sku,
b.name_ar as brand,
c.name_ar as cat,
pu.packing_unit_id,
pu.BASIC_UNIT_COUNT,
cpu.price,
wac1,
wac_p,
cbt.target_bm,ct.cat_target_margin,
pw.stocks,
from products p
JOIN PACKING_UNIT_PRODUCTS pu ON pu.product_id = p.id 
JOIN product_units ON product_units.id = p.unit_id 
join finance.all_cogs f on f.product_id = p.id and CURRENT_TIMESTAMP between from_date and to_date 
join brands b on b.id = p.brand_id
join categories c on c.id = p.category_id
join  av_stocks pw on pw.product_id = p.id 
join mapping m on m.warehouse_id = pw.warehouse_id
left join cohort_product_packing_units cpu on cpu.cohort_id = m.cohort_id and cpu.product_packing_unit_id = pu.id
left join cat_brand_target cbt on cbt.cat = c.name_ar and cbt.brand = b.name_ar 
left join cat_target ct on ct.cat = c.name_ar 
where pw.warehouse_id NOT IN (6, 9, 10)
and pw.stocks >0
and wac1 > 1 
and pu.DELETEd_AT is null
and c.name_ar not like '%سايب%'
and c.name_ar not like '%بالتة%'
and cpu.price is null 
)
'''
new_intros = query_snowflake(query)
new_intros = convert_to_numeric(new_intros)
new_intros

,cohort_id,product_id,sku,brand,cat,packing_unit_id,basic_unit_count,wac,margin,price
0,700,25769,ابو الولد جبنة سبريد شيدر 5 جنيه - 20 جم,أبو الولد,جبن,3,1,212.51375,0.045,222.527487
1,700,24756,ماكسـي ليمون - 2 لتر,ماكسى,حاجه ساقعه,2,1,148.00000,0.070,159.139785
2,700,25960,ميرندا برتقال هضبه - 250 مل,بيبسي,حاجه ساقعه,2,1,100.67400,0.050,105.972632
3,700,25769,ابو الولد جبنة سبريد شيدر 5 جنيه - 20 جم,أبو الولد,جبن,1,4,850.05500,0.045,890.109948

In [16]:
to_upload = new_intros.copy()
to_upload['final_new_price'] = round(to_upload['price']*4)/4
to_upload = to_upload[['cohort_id','product_id', 'sku', 'packing_unit_id', 'final_new_price']]
to_upload['ind'] =1 
to_upload['remove_min'] = np.nan
to_upload

,cohort_id,product_id,sku,packing_unit_id,final_new_price,ind,remove_min
0,700,25769,ابو الولد جبنة سبريد شيدر 5 جنيه - 20 جم,3,222.50,1,NaN
1,700,24756,ماكسـي ليمون - 2 لتر,2,159.25,1,NaN
2,700,25960,ميرندا برتقال هضبه - 250 مل,2,106.00,1,NaN
3,700,25769,ابو الولد جبنة سبريد شيدر 5 جنيه - 20 جم,1,890.00,1,NaN

In [ ]:
to_upload = prices.copy()
to_upload=to_upload.merge(wacs ,on ='product_id')
to_upload = to_upload[(to_upload['brand'] == 'كوكى')&(to_upload['cat'] != 'مجمدات دجاج')]
to_upload = to_upload.merge(brand_cat_target,on=['cat','brand'],how='left')
to_upload = to_upload.merge(cat_target,on=['cat'])
to_upload['tm'] = to_upload['target_bm'].fillna(to_upload['cat_target_margin'])
to_upload['final_new_price'] = np.round(to_upload['wac_p']*(to_upload['basic_unit_count'])/(1-to_upload['tm']))
to_upload['ind'] =1 
to_upload['remove_min'] = np.nan

In [ ]:
to_upload = prices.copy()
to_upload=to_upload.merge(wacs ,on ='product_id')
to_upload = to_upload[(to_upload['product_id'].isin([25899]))]
to_upload['final_new_price'] = np.round(to_upload['wac_p']*(to_upload['basic_unit_count'])/(1-0.04))
to_upload['ind'] =1 
to_upload['remove_min'] = np.nan
to_upload['margin'] = (to_upload['final_new_price']-(to_upload['wac_p']*to_upload['basic_unit_count']))/to_upload['final_new_price']
#to_upload=to_upload[to_upload['final_new_price'] > to_upload['price']]
to_upload

In [ ]:
to_upload

In [4]:
def query_snowflake(query):
    """Execute a query on Snowflake and return results as DataFrame."""
    con = snowflake.connector.connect(
        user=os.environ["SNOWFLAKE_USERNAME"],
        account=os.environ["SNOWFLAKE_ACCOUNT"],
        password=os.environ["SNOWFLAKE_PASSWORD"],
        database=os.environ["SNOWFLAKE_DATABASE"]
    )
    try:
        cur = con.cursor()
        cur.execute("USE WAREHOUSE COMPUTE_WH")
        cur.execute(query)
        data = cur.fetchall()
        columns = [desc[0].lower() for desc in cur.description]  # Get column names from cursor
        return pd.DataFrame(data, columns=columns)
    except Exception as e:
        print(f"Snowflake Error: {e}")
        return pd.DataFrame()
    finally:
        cur.close()
        con.close()

In [5]:
def convert_to_numeric(df):
    """Convert DataFrame columns to numeric where possible."""
    df.columns = df.columns.str.lower()
    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')
    return df

In [6]:
query = '''
with market_data as(
SELECT DISTINCT COHORT_ID,region,product_id,warehouse_id,warehouse,sku,cat,brand,minimum,PERCENTILE_25,PERCENTILE_50,PERCENTILE_75,MAXIMUM,CONTRIBUTION,ABC_CLASS
    FROM MATERIALIZED_VIEWS.Pricing_data_extraction
    WHERE created_at::date = CURRENT_DATE
	and  CONTRIBUTION > 0
	and minimum is not null 
	
	order by CONTRIBUTION desc
),
current_prices as (
    SELECT  
        CASE 
            WHEN cpu.cohort_id IN (700, 695) THEN 'Cairo'
            WHEN cpu.cohort_id IN (701) THEN 'Giza'
            WHEN cpu.cohort_id IN (704, 698) THEN 'Delta East'
            WHEN cpu.cohort_id IN (703, 697) THEN 'Delta West'
            WHEN cpu.cohort_id IN (696, 1123, 1124, 1125, 1126) THEN 'Upper Egypt'
            WHEN cpu.cohort_id IN (702, 699) THEN 'Alexandria'
        END AS region,
        cohort_id,
        pu.product_id,
        AVG(cpu.price) AS current_price
    FROM cohort_product_packing_units cpu
    JOIN PACKING_UNIT_PRODUCTS pu ON pu.id = cpu.product_packing_unit_id
    WHERE cpu.cohort_id IN (700,701,702,703,704,1123,1124,1125,1126)
        AND cpu.created_at::date <> '2023-07-31'
        AND cpu.is_customized = TRUE
        AND pu.basic_unit_count = 1
    GROUP BY ALL
),
data as (
select *,case when status_score = 1 then minimum 
when status_score = 2 then PERCENTILE_25 when status_score = 3 then PERCENTILE_50
else minimum end as new_price,
(new_price-wac_p)/new_price as new_margin

from (
select x.*,wac_p,(current_price-wac_p)/current_price as margin,sum(CONTRIBUTION)over(partition by warehouse_id) as total_cntrb,
case when current_price < minimum *0.995 then 'BELOW_MARKET' 
when current_price between minimum*0.995 and PERCENTILE_25 then 'At min'
when current_price between PERCENTILE_25 and PERCENTILE_50 then 'At 25 perc'
when current_price between PERCENTILE_50 and PERCENTILE_75 then 'At 50 perc'
when current_price between PERCENTILE_75 and maximum then 'At 75 perc'
when current_price between  maximum and maximum*1.005 then 'at max'
when current_price >  maximum*1.005 then 'above max' end as status,

case when current_price < minimum *0.995 then 1
when current_price between minimum*0.995 and PERCENTILE_25 then 2
when current_price between PERCENTILE_25 and PERCENTILE_50 then 3
when current_price between PERCENTILE_50 and PERCENTILE_75 then 4
when current_price between PERCENTILE_75 and maximum then 5
when current_price between  maximum and maximum*1.005 then 6
when current_price >  maximum*1.005 then 7 end as status_score
from (
select md.*,current_price
from market_data md 
join current_prices cp on cp.product_id = md.product_id and cp.cohort_id = md.cohort_id and cp.region = md.region

)x
join finance.all_cogs f on f.product_id = x.product_id and CURRENT_TIMESTAMP between from_date and to_Date 
where status_score in (1,2,3)
)
)

select data.*,packing_unit_id,basic_unit_count,round(new_price*basic_unit_count*4)/4 as pu_new_price
from data 
join PACKING_UNIT_PRODUCTS pup on pup.product_id = data.product_id
where pup.DELETED_AT is null 
order by 3
'''

In [7]:
market_min = query_snowflake(query)
market_min = convert_to_numeric(market_min)
to_upload = market_min.copy()
to_upload = to_upload[['cohort_id','warehouse_id','product_id', 'sku', 'packing_unit_id', 'pu_new_price','status']]
to_upload=to_upload.rename(columns={'pu_new_price':'final_new_price'})
to_upload=to_upload.groupby(['cohort_id','product_id', 'sku', 'packing_unit_id'])['final_new_price'].min().reset_index()
to_upload['ind'] =1 
to_upload['remove_min'] = np.nan

In [31]:
query = '''
with pw as (
select  distinct product_warehouse.product_id, 
		product_warehouse.packing_unit_id, 
		pup.id as product_packing_unit_id, 
		warehouse_id, 
		product_warehouse.available_stock, 
		product_warehouse.stock, 
		product_warehouse.activation as pw_activation, 
		p.activation as p_activation, 
		product_warehouse.is_basic_unit, 
		basic_unit_count
from public.product_warehouse
left join products p on p.id = product_warehouse.product_id
inner join packing_unit_products pup on pup.product_id = product_warehouse.product_id and pup.packing_unit_id = product_warehouse.packing_unit_id
-- where  product_warehouse.stock > 0 
-- and basic_unit_count = 1
), 


retailer_cohorts as (
select * 
from (
select distinct	
	taggable_id,
	case when custom_ct =1 then cohort_id end as custom_cohort,
	case when custom_ct = 1 then fallbk else cohort_id end as main_cohort,
	61 as general_cohort
from (
select 
	taggable_id,
	cohorts.id as cohort_id,
	FALLBACK_COHORT_ID as fallbk,
	cohorts.priority,
	case when coalesce(FALLBACK_COHORT_ID,61) = 61 then 0 else 1 end as custom_ct,
	rank () over (partition by taggable_id,custom_ct order by priority) as rk,
	sum (custom_ct) over (partition by taggable_id) as custom_count
from cohorts
	left join dynamic_taggables as dt on dt.dynamic_tag_id  = cohorts.dynamic_tag_id
where cohorts.is_active = true and cohorts.id <> 61 
) as sub 
where rk = 1 and (custom_count = 0 or (custom_count >0 and custom_ct = 1))
order by 1)
qualify row_number() over(partition by custom_cohort, main_cohort, general_cohort order by taggable_id ) <= 3000), 

dr as (
select 
	distinct retailer_id,
	product_id,
	warehouse_id
from warehouse_dispatching_rules as wdr
left join (select * from (select *,row_number () over (partition by retailer_id order by polygon_id) as r from materialized_views.retailer_polygon) as t1 where r=1) as retailer_polygon
on retailer_polygon.polygon_id =wdr.dispatching_polygon_id)
select distinct custom_cohort as cohort_id,product_id,packing_unit_id,sku,brand,cat,r_price as price,wac_p,wac1,basic_unit_count
from (
select s.*,wac_p,wac1,
		coalesce(pv.wac1 * stock, 0) as stock_value
from (
select  distinct 
		warehouse_id, 
		w.name as warehouse_name, 
		custom_cohort, 
		main_cohort, 
		general_cohort, 
		product_id, 
		product_packing_unit_id, 
		packing_unit_id,
		CONCAT(p.name_ar,' ',p.size,' ',product_units.name_ar) as sku,
		b.name_ar as brand,
		c.name_ar as cat ,
		s.stock, 
		s.available_stock, 
		p_activation, 
		pw_activation, 
		case when v2 = 0 then false else true end as visible, 
		s.basic_unit_count,
		r_price
from (
select *, 
		case when visible = true then 1 else 0 end as v1, 
		max(v1) over(partition by retailer_id, product_id) as v2
from (
select  distinct dr.*,
		pw.product_packing_unit_id,
		pw.packing_unit_id,
		custom_cohort, 
		main_cohort, 
		general_cohort, 
		pw.stock, 
		pw.available_stock, 
		basic_unit_count, 
		pw.is_basic_unit, 
		p_activation, 
		pw_activation, 
	    coalesce(case when cppu3.is_customized = true then  cppu3.is_visible end, cppu2.is_visible,cppu.is_visible) as visible,
	    coalesce(case when cppu3.is_customized = true then  cppu3.price end, cppu2.price,cppu.price) as r_price,
from dr 
inner join retailer_cohorts rc on rc.taggable_id = dr.retailer_id 
inner join pw on pw.product_id = dr.product_id and pw.warehouse_id = dr.warehouse_id
left join cohort_product_packing_units as cppu on cppu.cohort_id = rc.general_cohort and cppu.product_packing_unit_id = pw.product_packing_unit_id
left join cohort_product_packing_units as cppu2 on cppu2.cohort_id = rc.main_cohort and cppu2.product_packing_unit_id = cppu.product_packing_unit_id
left join cohort_product_packing_units as cppu3 on cppu3.cohort_id = rc.custom_cohort and cppu3.product_packing_unit_id = cppu.product_packing_unit_id) s) s 
join products p on p.id = s.product_id 
join categories c on c.id = p.category_id
join brands b on b.id = p.brand_id
JOIN product_units ON product_units.id = p.unit_id 
left join warehouses w on w.id = s.warehouse_id 
where s.stock > 0 
and (pw_activation <> true or p_activation <> true or v2 = 0)

) s 
join finance.all_cogs pv on pv.product_id = s.product_id and current_timestamp between from_Date and to_date 
where s.available_stock > 0  
and visible = false 
and cat not like '%سايب%'
and sku not like '%@#%' 
and sku not like '%الكنز%' and sku not like '%سحب%' and cat not like '%بالتة%'
and brand not like '%مكسب%'
and custom_cohort in (700,701,702,703,704,1123,1124,1125,1126)
)
'''
invisible = query_snowflake(query)
invisible = convert_to_numeric(invisible)
invisible

,cohort_id,product_id,packing_unit_id,sku,brand,cat,price,wac_p,wac1,basic_unit_count
0,702,12285,7,بن محوج غامق ( زهرة البن البرازيلى ) - 125 جم,البن البرازيلى,قهوة,93.25,89.100000,90.000000,1
1,702,24844,2,ماكسـي ليمون نعناع - 2 لتر,ماكسى,حاجه ساقعه,100.00,148.000000,148.000000,1
2,702,12456,11,صن شاين اكسبريس تونة مفتتة حار - 150 جم,صن شاين,تونة و سمك,30.50,29.061557,29.903173,1
3,700,8717,3,جرين هاوس خضار سوتيه مكس - 400 جم,جرين هاوس,خضار مجمد,21.50,20.337959,24.503633,1
4,700,1201,1,صابون ديتول جدد نشاطك - 60 جم,ديتول,صابون,193.50,3.790000,4.169737,48
...,...,...,...,...,...,...,...,...,...,...
101,703,6680,1,ريحانة ملاحة خلطة بهارات - 70 جم,ريحانة,توابل وبهارات,275.50,258.996880,280.640451,1
102,702,12288,7,بن محوج فاتح ( زهرة البن البرازيلى ) - 250 جم,البن البرازيلى,قهوة,184.50,173.543282,175.296244,1
103,702,13468,1,منظف زجاج الشلال - 600 جرام,رينول,مطهرات و ملمعات,409.00,240.795700,279.995000,1
104,702,10605,1,عصير جهينة اورينتال خروب - 1 لتر,جهينة عصاير,عصاير,434.75,504.014657,518.267000,1
105,702,13752,1,‫رويال فلاور مسحوق نسيم الربيع عرض 10% زياده ...,رويال,منظفات,316.50,297.600000,320.000000,1

In [41]:
to_upload = invisible.merge(brand_cat_target,on=['cat','brand'],how='left')
to_upload = to_upload.merge(cat_target,on=['cat'])
to_upload['tm'] = to_upload['target_bm'].fillna(to_upload['cat_target_margin'])
to_upload = to_upload[to_upload['wac_p']!=0]
to_upload['final_new_price'] = np.round(to_upload['wac_p']*(to_upload['basic_unit_count'])/(1-to_upload['tm']))
to_upload['ind'] =1 
to_upload['remove_min'] =np.nan
to_upload = to_upload.groupby(['cohort_id','product_id','sku','packing_unit_id','ind'])['final_new_price'].max().reset_index()
to_upload['remove_min'] =np.nan
to_upload

,cohort_id,product_id,sku,packing_unit_id,ind,final_new_price,remove_min
0,700,207,نسكويك علبة- 77 جم,1,1,142.0,NaN
1,700,1198,صابون ديتول الاصلى - 60 جم,1,1,156.0,NaN
2,700,1199,صابون ديتول عناية بالبشرة - 60 جم,1,1,186.0,NaN
3,700,1200,ديتول صابون كوول- 60 جم,1,1,186.0,NaN
4,700,1201,صابون ديتول جدد نشاطك - 60 جم,1,1,186.0,NaN
...,...,...,...,...,...,...,...
97,1125,10603,عصير جهينة اورينتال كركدية - 1 لتر,1,1,531.0,NaN
98,1125,10605,عصير جهينة اورينتال خروب - 1 لتر,1,1,531.0,NaN
99,1126,4019,فانتا برتقال ستار - 320 مل,2,1,339.0,NaN
100,1126,10603,عصير جهينة اورينتال كركدية - 1 لتر,1,1,531.0,NaN
101,1126,10605,عصير جهينة اورينتال خروب - 1 لتر,1,1,531.0,NaN

In [9]:
import os
import boto3
import base64
from botocore.exceptions import ClientError
import json
from requests import get
from pathlib import Path
import requests
    
def get_secret(secret_name):
    region_name = "us-east-1"

    # Create a Secrets Manager client
    session = boto3.session.Session()
    client = session.client(
        service_name='secretsmanager',
        region_name=region_name
    )

    # In this sample we only handle the specific exceptions for the 'GetSecretValue' API.
    # See https://docs.aws.amazon.com/secretsmanager/latest/apireference/API_GetSecretValue.html
    # We rethrow the exception by default.

    try:
        get_secret_value_response = client.get_secret_value(SecretId=secret_name)
    except ClientError as e:
        if e.response['Error']['Code'] == 'DecryptionFailureException':
            # Secrets Manager can't decrypt the protected secret text using the provided KMS key.
            # Deal with the exception here, and/or rethrow at your discretion.
            raise e
        elif e.response['Error']['Code'] == 'InternalServiceErrorException':
            # An error occurred on the server side.
            # Deal with the exception here, and/or rethrow at your discretion.
            raise e
        elif e.response['Error']['Code'] == 'InvalidParameterException':
            # You provided an invalid value for a parameter.
            # Deal with the exception here, and/or rethrow at your discretion.
            raise e
        elif e.response['Error']['Code'] == 'InvalidRequestException':
            # You provided a parameter value that is not valid for the current state of the resource.
            # Deal with the exception here, and/or rethrow at your discretion.
            raise e
        elif e.response['Error']['Code'] == 'ResourceNotFoundException':
            # We can't find the resource that you asked for.
            # Deal with the exception here, and/or rethrow at your discretion.
            raise e
    else:
        # Decrypts secret using the associated KMS CMK.
        # Depending on whether the secret is a string or binary, one of these fields will be populated.
        if 'SecretString' in get_secret_value_response:
            return get_secret_value_response['SecretString']
        else:
            return base64.b64decode(get_secret_value_response['SecretBinary'])

        
pricing_api_secret = json.loads(get_secret("prod/pricing/api/"))
username = pricing_api_secret["egypt_username"]
password = pricing_api_secret["egypt_password"]
secret = pricing_api_secret["egypt_secret"]

# get access token
def get_access_token(url, client_id, client_secret):
    """
    get_access_token function takes three parameters and returns a session token
    to connect to MaxAB APIs

    :param url: production MaxAB token URL
    :param client_id: client ID
    :param client_secret: client sercret
    :return: session token
    """
    response = requests.post(
        url,
        data={"grant_type": "password",
              "username": username,
              "password": password},
        auth=(client_id, client_secret),
    )
    return response.json()["access_token"]


def post_prices(id_,file_name):
    token = get_access_token('https://sso.maxab.info/auth/realms/maxab/protocol/openid-connect/token',
                             'main-system-externals',
                             secret)
    url = "https://api.maxab.info/main-system/api/admin-portal/cohorts/{}/pricing".format(id_)
    payload={}
    files=[
      ('sheet',(file_name,open(file_name,'rb'),'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'))
    ]
    headers = {
      'Authorization': 'bearer {}'.format(token)}

    response = requests.request("POST", url, headers=headers, data=payload, files=files)
    return response

In [42]:
for cohort in to_upload.cohort_id.unique():
        upload = to_upload[to_upload['cohort_id']==cohort]
        out=upload[['product_id', 'sku', 'packing_unit_id', 'final_new_price', 'ind', 'remove_min']].copy()
  
        out.columns = ['Product ID','Product Name','Packing Unit ID','Price','ind','remove_min']
        out['Visibility (YES/NO)'] = 'YES'
        out.loc[(out['ind'] == 1) & (out['remove_min'] == 1), 'Visibility (YES/NO)'] = 'NO'
        out.drop(columns=['ind','remove_min'], inplace=True)
        out = out.drop_duplicates()
        out['Execute At (format:dd/mm/yyyy HH:mm)'] = None
        out['Tags'] = None
        file_name_ = 'Uploads/1_new_{}.xlsx'.format(cohort).replace(' ','_')
        out.to_excel(file_name_,index = False,engine = 'xlsxwriter')
        time.sleep(5)
        x = post_prices(cohort, 'Uploads/1_new_{}.xlsx'.format(cohort).replace(' ','_'))
        if ('"success":true' in str(x.content).lower()):
            print(f"Prices are upoladed successfuly cohort:{cohort}")
        else:
            print(f"ERROR cohort: {cohort}")
            print(x.content)
            break

Prices are upoladed successfuly cohort:700
Prices are upoladed successfuly cohort:701
Prices are upoladed successfuly cohort:702
Prices are upoladed successfuly cohort:703
Prices are upoladed successfuly cohort:704
Prices are upoladed successfuly cohort:1123
Prices are upoladed successfuly cohort:1124
Prices are upoladed successfuly cohort:1125
Prices are upoladed successfuly cohort:1126

In [12]:
to_upload.to_excel('check_data.xlsx')

In [37]:
out

,Product ID,Product Name,Packing Unit ID,Price,Visibility (YES/NO),Execute At (format:dd/mm/yyyy HH:mm),Tags
3,8717,جرين هاوس خضار سوتيه مكس - 400 جم,3,22.0,YES,None,None
4,1201,صابون ديتول جدد نشاطك - 60 جم,1,186.0,YES,None,None
10,10605,عصير جهينة اورينتال خروب - 1 لتر,1,531.0,YES,None,None
20,25958,بيبسي هضبه - 250 مل,2,106.0,YES,None,None
34,25770,ابو الولد جبنة سبريد بالفلفل الحار 5 جنيه - 20 جم,3,223.0,YES,None,None
38,4019,فانتا برتقال ستار - 320 مل,2,339.0,YES,None,None
49,21814,تشيكيتيتا ناجتس - 400 جم,3,67.0,YES,None,None
52,8718,جرين هاوس خضار تورلي - 400 جم,3,20.0,YES,None,None
53,13440,فوج عطر بخاخ فيكتور - 120 مل,2,1356.0,YES,None,None
62,1199,صابون ديتول عناية بالبشرة - 60 جم,1,186.0,YES,None,None
74,26103,جبنه دومتى جولد -- 250 جم,2,653.0,YES,None,None
75,26103,جبنه دومتى جولد -- 250 جم,2,654.0,YES,None,None
89,207,نسكويك علبة- 77 جم,1,142.0,YES,None,None
90,1198,صابون ديتول الاصلى - 60 جم,1,156.0,YES,None,None
107,1200,ديتول صابون كوول- 60 جم,1,186.0,YES,None,None