In [1]:
# Pricing Status Analysis Script
# Converted from SQL query to Python for easier editing and maintenance

# =============================================================================
# STANDARD LIBRARY IMPORTS
# =============================================================================
import os
import warnings
from datetime import datetime, date, timedelta

# =============================================================================
# THIRD-PARTY IMPORTS
# =============================================================================
import numpy as np
import pandas as pd
import snowflake.connector

# =============================================================================
# LOCAL IMPORTS & ENVIRONMENT SETUP
# =============================================================================
import setup_environment_2
import importlib

warnings.filterwarnings("ignore")
importlib.reload(setup_environment_2)
setup_environment_2.initialize_env()

print("✓ Environment initialized")

# =============================================================================
# SNOWFLAKE QUERY FUNCTION
# =============================================================================

def snowflake_query(country, query, warehouse=None, columns=[], conn=None):
    """
    Execute a query against Snowflake and return results as DataFrame.
    
    Args:
        country: Country identifier (e.g., "Egypt")
        query: SQL query string to execute
        warehouse: Snowflake warehouse (optional)
        columns: Custom column names (optional)
        conn: Existing connection (optional)
        
    Returns:
        pandas DataFrame with query results
    """
    con = snowflake.connector.connect(
        user     = os.environ["SNOWFLAKE_USERNAME"],
        account  = os.environ["SNOWFLAKE_ACCOUNT"],
        password = os.environ["SNOWFLAKE_PASSWORD"],
        database = os.environ["SNOWFLAKE_DATABASE"]
    )

    try:
        cur = con.cursor()
        cur.execute("USE WAREHOUSE COMPUTE_WH")
        cur.execute(query)
        
        column_names = [col[0] for col in cur.description]
        results = cur.fetchall()
        
        if not results:
            out = pd.DataFrame(columns=[name.lower() for name in column_names])
        else:
            if len(columns) == 0:
                out = pd.DataFrame(np.array(results), columns=column_names)
                out.columns = out.columns.str.lower()
            else:
                out = pd.DataFrame(np.array(results), columns=columns)
                out.columns = out.columns.str.lower()
        
        return out
        
    except Exception as e:
        print(f"❌ Query error: {e}")
        raise
        
    finally:
        cur.close()
        con.close()

print("✓ Snowflake query function loaded")

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/snowflake/connector/options.py:104: UserWarning: You have an incompatible version of 'pyarrow' installed (22.0.0), please install a version that adheres to: 'pyarrow<19.0.0; extra == "pandas"'
  warn_incompatible_dep(

/home/ec2-user/.Renviron
/home/ec2-user/service_account_key.json
✓ Environment initialized
✓ Snowflake query function loaded

In [2]:
# =============================================================================
# PART 1: STATIC DATA - Warehouse Mapping
# =============================================================================

def get_warehouse_mapping():
    """Define warehouse to region/cohort mapping."""
    whs_data = [
        ('Cairo', 'Mostorod', 1, 700),
        ('Giza', 'Barageel', 236, 701),
        ('Delta West', 'El-Mahala', 337, 703),
        ('Delta West', 'Tanta', 8, 703),
        ('Delta East', 'Mansoura FC', 339, 704),
        ('Delta East', 'Sharqya', 170, 704),
        ('Upper Egypt', 'Assiut FC', 501, 1124),
        ('Upper Egypt', 'Bani sweif', 401, 1126),
        ('Upper Egypt', 'Menya Samalot', 703, 1123),
        ('Upper Egypt', 'Sohag', 632, 1125),
        ('Alexandria', 'Khorshed Alex', 797, 702),
        ('Giza', 'Sakkarah', 962, 701)
    ]
    
    df_whs = pd.DataFrame(whs_data, columns=['region', 'wh', 'warehouse_id', 'cohort_id'])
    return df_whs

# Get warehouse mapping
df_whs = get_warehouse_mapping()
print("Warehouse Mapping:")
df_whs

Warehouse Mapping:

         region             wh  warehouse_id  cohort_id
0         Cairo       Mostorod             1        700
1          Giza       Barageel           236        701
2    Delta West      El-Mahala           337        703
3    Delta West          Tanta             8        703
4    Delta East    Mansoura FC           339        704
5    Delta East        Sharqya           170        704
6   Upper Egypt      Assiut FC           501       1124
7   Upper Egypt     Bani sweif           401       1126
8   Upper Egypt  Menya Samalot           703       1123
9   Upper Egypt          Sohag           632       1125
10   Alexandria  Khorshed Alex           797        702
11         Giza       Sakkarah           962        701

In [3]:
# =============================================================================
# PART 2: FETCH COGS DATA
# =============================================================================

def fetch_current_cogs():
    """Fetch current cost of goods sold data."""
    query = """
    SELECT product_id, wac_p
    FROM finance.all_cogs
    WHERE CURRENT_TIMESTAMP BETWEEN from_date AND to_date
    """
    df = snowflake_query("Egypt", query)
    df['product_id'] = pd.to_numeric(df['product_id'])
    df['wac_p'] = pd.to_numeric(df['wac_p'])
    return df

# Run:
df_cogs = fetch_current_cogs()
print(f"COGS records: {len(df_cogs)}")

COGS records: 8080

In [4]:
# =============================================================================
# PART 3: FETCH RUNNING RATES DATA
# =============================================================================

def fetch_running_rates():
    """Fetch predicted running rates - latest per product/warehouse within 14 days."""
    query = """
    SELECT product_id, warehouse_id, rr
    FROM finance.PREDICTED_RUNNING_RATES
    QUALIFY MAX(date) OVER (PARTITION BY product_id, warehouse_id) = date
        AND date::DATE >= CURRENT_DATE - 14
    """
    df = snowflake_query("Egypt", query)
    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')
    return df

# Run:
df_rr = fetch_running_rates()
print(f"Running rates records: {len(df_rr)}")

Running rates records: 25470

In [5]:
# =============================================================================
# PART 4: FETCH STOCKS DATA
# =============================================================================

def fetch_stocks():
    """Fetch stock data with running rates and DOH calculation."""
    query = """
    WITH rr AS (
        SELECT product_id, warehouse_id, rr
        FROM finance.PREDICTED_RUNNING_RATES
        QUALIFY MAX(date) OVER (PARTITION BY product_id, warehouse_id) = date
            AND date::DATE >= CURRENT_DATE - 14
    )
    SELECT 
        pw.warehouse_id,
        pw.product_id,
        pw.available_stock::INTEGER AS stocks,
        COALESCE(rr.rr, 0) AS rr,
        CASE WHEN COALESCE(rr.rr, 0) = 0 THEN pw.available_stock::INTEGER 
             ELSE pw.available_stock::INTEGER / rr.rr 
        END AS doh
    FROM product_warehouse pw
    LEFT JOIN rr ON rr.product_id = pw.product_id AND rr.warehouse_id = pw.warehouse_id
    WHERE pw.warehouse_id NOT IN (6, 9, 10)
        AND pw.is_basic_unit = 1
    """
    df = snowflake_query("Egypt", query)
    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')
    return df

# Run:
df_stocks = fetch_stocks()
print(f"Stock records: {len(df_stocks)}")

Stock records: 1800227

In [6]:
# =============================================================================
# PART 5: FETCH SALES DATA
# =============================================================================

def fetch_sales():
    """Fetch sales data with aggregations for RR and retailer metrics."""
    query = """
    SELECT 
        warehouse_id, 
        product_id,
        sku,
        brand,
        cat,
        PERCENTILE_CONT(0.8) WITHIN GROUP (ORDER BY CASE WHEN date < CURRENT_DATE - 3 THEN qty END) AS high_rr,
        PERCENTILE_CONT(0.8) WITHIN GROUP (ORDER BY CASE WHEN date < CURRENT_DATE - 3 THEN num_rets END) AS high_rets,
        COALESCE(STDDEV(CASE WHEN date < CURRENT_DATE - 3 THEN qty END), 0) AS qty_std,
        COALESCE(STDDEV(CASE WHEN date < CURRENT_DATE - 3 THEN num_rets END), 0) AS rets_std,
        COALESCE(SUM(CASE WHEN date = CURRENT_DATE - 1 THEN qty END), 0) AS cu_rr,
        COALESCE(SUM(CASE WHEN date = CURRENT_DATE THEN qty END), 0) AS today_rr,
        COALESCE(SUM(CASE WHEN date = CURRENT_DATE - 1 THEN num_rets END), 0) AS cu_rets
    FROM (
        SELECT
            so.created_at::DATE AS date,
            pso.warehouse_id,
            pso.product_id,
            CONCAT(p.name_ar, ' ', p.size, ' ', pu.name_ar) AS sku,
            b.name_ar AS brand, 
            c.name_ar AS cat,
            SUM(pso.purchased_item_count * pso.basic_unit_count) AS qty,
            COUNT(DISTINCT so.retailer_id) AS num_rets
        FROM product_sales_order pso
        JOIN sales_orders so ON so.id = pso.sales_order_id
        JOIN products p ON p.id = pso.product_id
        JOIN brands b ON p.brand_id = b.id 
        JOIN categories c ON p.category_id = c.id
        JOIN product_units pu ON pu.id = p.unit_id
        WHERE so.created_at::DATE BETWEEN CURRENT_DATE - 150 AND CURRENT_DATE 
            AND so.sales_order_status_id NOT IN (7, 12)
            AND so.channel IN ('telesales', 'retailer')
            AND pso.purchased_item_count <> 0
            AND DAYNAME(so.created_at::DATE) <> 'Fri'
        GROUP BY 1, 2, 3, 4, 5, 6
    )
    GROUP BY 1, 2, 3, 4, 5
    """
    df = snowflake_query("Egypt", query)
    # Convert numeric columns
    numeric_cols = ['warehouse_id', 'product_id', 'high_rr', 'high_rets', 'qty_std', 'rets_std', 'cu_rr', 'today_rr', 'cu_rets']
    for col in numeric_cols:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='ignore')
    return df

# Run:
df_sales = fetch_sales()
print(f"Sales records: {len(df_sales)}")

Sales records: 33160

In [7]:
# =============================================================================
# PART 6: FETCH PRICES DATA
# =============================================================================

def fetch_prices():
    """Fetch latest prices per product/cohort."""
    cohort_ids = [700, 701, 702, 703, 704, 696, 695, 698, 697, 699, 1123, 1124, 1125, 1126]
    cohort_str = ', '.join(map(str, cohort_ids))
    
    query = f"""
    SELECT cohort_id, product_id, price
    FROM (
        SELECT 
            cpc.cohort_id,
            pu.product_id,
            cpc.price,
            ROW_NUMBER() OVER (PARTITION BY pu.product_id, cpc.cohort_id ORDER BY cpc.created_at DESC) AS rn
        FROM cohort_pricing_changes cpc 
        JOIN PACKING_UNIT_PRODUCTS pu ON pu.id = cpc.product_packing_unit_id
        WHERE cpc.cohort_id IN ({cohort_str})
            AND pu.is_basic_unit = 1 
    )
    WHERE rn = 1
    """
    df = snowflake_query("Egypt", query)
    df['cohort_id'] = pd.to_numeric(df['cohort_id'])
    df['product_id'] = pd.to_numeric(df['product_id'])
    df['price'] = pd.to_numeric(df['price'])
    return df

# Run:
df_prices = fetch_prices()
print(f"Price records: {len(df_prices)}")

Price records: 192371

In [8]:
# =============================================================================
# PART 7: FETCH MARKETPLACE PRICES DATA
# =============================================================================

def fetch_marketplace_prices():
    """Fetch marketplace price data (min, mod, max)."""
    query = """
    SELECT 
        mp.region,
        mp.product_id,
        AVG(mp.min_price / pup.basic_unit_count) AS min_price,
        AVG(mp.mod_price / pup.basic_unit_count) AS mod_price,
        AVG(mp.max_price / pup.basic_unit_count) AS max_price
    FROM materialized_views.marketplace_prices mp
    JOIN PACKING_UNIT_PRODUCTS pup ON pup.product_id = mp.product_id AND mp.pu_id = pup.packing_unit_id
    GROUP BY 1, 2
    """
    df = snowflake_query("Egypt", query)
    df['product_id'] = pd.to_numeric(df['product_id'])
    df['min_price'] = pd.to_numeric(df['min_price'])
    df['mod_price'] = pd.to_numeric(df['mod_price'])
    df['max_price'] = pd.to_numeric(df['max_price'])
    return df

# Run:
df_mp = fetch_marketplace_prices()
print(f"Marketplace price records: {len(df_mp)}")

Marketplace price records: 7863

In [9]:
# =============================================================================
# PART 8: FETCH BEN SOLIMAN PRICES
# =============================================================================

def fetch_ben_soliman_prices():
    """Fetch Ben Soliman competitor prices with validation."""
    query = """
    SELECT z.* 
    FROM (
        SELECT maxab_product_id AS product_id, AVG(bs_final_price) AS ben_soliman_price
        FROM (
            SELECT *, ROW_NUMBER() OVER(PARTITION BY maxab_product_id ORDER BY diff) AS rnk_2
            FROM (
                SELECT *, (bs_final_price - wac_p) / wac_p AS diff_2
                FROM (
                    SELECT *, bs_price / maxab_basic_unit_count AS bs_final_price
                    FROM (
                        SELECT *, ROW_NUMBER() OVER(PARTITION BY maxab_product_id, maxab_pu ORDER BY diff) AS rnk 
                        FROM (
                            SELECT *, MAX(INJECTION_DATE::DATE) OVER(PARTITION BY maxab_product_id, maxab_pu) AS max_date
                            FROM (
                                SELECT sm.*, wac1, wac_p, 
                                    ABS(bs_price - (wac_p * maxab_basic_unit_count)) / (wac_p * maxab_basic_unit_count) AS diff 
                                FROM materialized_views.savvy_mapping sm 
                                JOIN finance.all_cogs f ON f.product_id = sm.maxab_product_id 
                                    AND CURRENT_TIMESTAMP BETWEEN f.from_date AND f.to_date
                                WHERE bs_price IS NOT NULL 
                                    AND INJECTION_DATE::DATE >= CURRENT_TIMESTAMP::DATE - 5 
                                    AND ABS(bs_price - (wac_p * maxab_basic_unit_count)) / (wac_p * maxab_basic_unit_count) < 0.3
                            )
                            QUALIFY max_date = INJECTION_DATE
                        )
                        QUALIFY rnk = 1 
                    )
                )
                WHERE diff_2 BETWEEN -0.5 AND 0.5 
            )
            QUALIFY rnk_2 = 1 
        )
        GROUP BY ALL
    ) z 
    JOIN finance.all_cogs f ON f.product_id = z.product_id 
        AND CURRENT_TIMESTAMP BETWEEN f.from_date AND f.to_date
    WHERE ben_soliman_price BETWEEN f.wac_p * 0.9 AND f.wac_p * 1.3
    """
    df = snowflake_query("Egypt", query)
    df['product_id'] = pd.to_numeric(df['product_id'])
    df['ben_soliman_price'] = pd.to_numeric(df['ben_soliman_price'])
    return df

# Run:
df_bsp = fetch_ben_soliman_prices()
print(f"Ben Soliman price records: {len(df_bsp)}")

Ben Soliman price records: 1371

In [10]:
# =============================================================================
# PART 9: FETCH SCRAPPED/CLEANED MARKET PRICES
# =============================================================================

def fetch_scrapped_prices():
    """Fetch scraped market prices with min/max/median aggregations."""
    query = """
    WITH current_cogs AS (
        SELECT product_id, wac_p
        FROM finance.all_cogs
        WHERE CURRENT_TIMESTAMP BETWEEN from_date AND to_date
    )
    SELECT 
        product_id,
        region,
        MIN(market_price) AS min_scrapped,
        MAX(market_price) AS max_scrapped,
        MEDIAN(market_price) AS median_scrapped
    FROM (
        SELECT 
            cmp.product_id,
            cmp.region,
            cmp.market_price
        FROM materialized_views.cleaned_market_prices cmp
        JOIN current_cogs f ON f.product_id = cmp.product_id
        WHERE cmp.date >= CURRENT_DATE - 5
            AND cmp.market_price BETWEEN f.wac_p * 0.9 AND f.wac_p * 1.3
        QUALIFY MAX(cmp.date) OVER (PARTITION BY cmp.region, cmp.product_id, cmp.competitor) = cmp.date
    )
    GROUP BY 1, 2
    """
    df = snowflake_query("Egypt", query)
    df['product_id'] = pd.to_numeric(df['product_id'])
    df['min_scrapped'] = pd.to_numeric(df['min_scrapped'])
    df['max_scrapped'] = pd.to_numeric(df['max_scrapped'])
    df['median_scrapped'] = pd.to_numeric(df['median_scrapped'])
    return df

# Run:
df_scrapped = fetch_scrapped_prices()
print(f"Scrapped price records: {len(df_scrapped)}")

Scrapped price records: 5583

In [11]:
# =============================================================================
# PART 10: FETCH TARGETS DATA
# =============================================================================

def fetch_cat_brand_targets():
    """Fetch category/brand targets from commercial plan."""
    query = """
    SELECT 
        cat, 
        brand, 
        SUM(nmv) AS target_nmv, 
        AVG(margin) AS target_bm,
        DATE_TRUNC('month', DATE) AS month_date
    FROM performance.commercial_targets
    WHERE cat IS NOT NULL AND brand IS NOT NULL 
        AND date >= DATE_TRUNC('month', CURRENT_DATE)
    GROUP BY ALL
    """
    df = snowflake_query("Egypt", query)
    df['target_nmv'] = pd.to_numeric(df['target_nmv'])
    df['target_bm'] = pd.to_numeric(df['target_bm'])
    return df

def fetch_cat_targets(df_cat_brand_targets):
    """Calculate category-level targets from brand targets."""
    df = df_cat_brand_targets.copy()
    df['weighted_margin'] = df['target_bm'] * df['target_nmv']
    cat_targets = df.groupby('cat').apply(
        lambda x: x['weighted_margin'].sum() / x['target_nmv'].sum() if x['target_nmv'].sum() > 0 else 0
    ).reset_index()
    cat_targets.columns = ['cat', 'cat_target_margin']
    return cat_targets

# Run:
df_cat_brand_targets = fetch_cat_brand_targets()
df_cat_targets = fetch_cat_targets(df_cat_brand_targets)
print(f"Cat/Brand target records: {len(df_cat_brand_targets)}")

Cat/Brand target records: 482

In [12]:
# =============================================================================
# PART 11: FETCH DISCOUNTED SALES DATA
# =============================================================================

def fetch_discounted_sales():
    """Fetch yesterday's discounted sales breakdown."""
    query = """
    SELECT  
        pso.warehouse_id,
        pso.product_id,
        SUM(pso.total_price) AS total_nmv,
        SUM(CASE WHEN pso.dynamic_bundle_sales_order_id IS NOT NULL THEN pso.total_price END) AS bundle_nmv,
        SUM(CASE WHEN pso.sku_discount_id IS NOT NULL THEN pso.total_price END) AS sku_discount_nmv,
        SUM(CASE WHEN pso.quantity_discount_id IS NOT NULL THEN pso.total_price END) AS quantity_nmv
    FROM product_sales_order pso 
    JOIN sales_orders so ON so.id = pso.sales_order_id
    WHERE so.created_at::DATE = CURRENT_DATE - 1 
        AND so.sales_order_status_id NOT IN (7, 12)
        AND so.channel IN ('telesales', 'retailer')
        AND pso.purchased_item_count <> 0
    GROUP BY 1, 2
    """
    df = snowflake_query("Egypt", query)
    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')
    return df

# Run:
df_discounted = fetch_discounted_sales()
print(f"Discounted sales records: {len(df_discounted)}")

Discounted sales records: 10280

In [13]:
# =============================================================================
# PART 13B: FETCH PRODUCT WAREHOUSE ACTIVATION
# =============================================================================

def fetch_product_activation():
    """
    Fetch product warehouse activation status.
    Uses the top selling packing unit per product in the last 3 months 
    as the representative packing unit to get activation status.
    """
    query = """
    WITH top_selling_pu AS (
        -- Get the top selling packing unit per product/warehouse in last 3 months
        SELECT 
            pso.product_id,
            pso.warehouse_id,
            pso.packing_unit_id,
            SUM(pso.total_price) AS total_nmv
        FROM product_sales_order pso
        JOIN sales_orders so ON so.id = pso.sales_order_id
        WHERE so.created_at::DATE >= CURRENT_DATE - 90
            AND so.sales_order_status_id NOT IN (7, 12)
            AND so.channel IN ('telesales', 'retailer')
            AND pso.purchased_item_count <> 0
        GROUP BY 1, 2, 3
        QUALIFY ROW_NUMBER() OVER (
            PARTITION BY pso.product_id, pso.warehouse_id 
            ORDER BY SUM(pso.total_price) DESC
        ) = 1
    )
    SELECT 
        tspu.product_id,
        tspu.warehouse_id,
        tspu.packing_unit_id AS top_selling_pu,
        pw.activation AS activation
    FROM top_selling_pu tspu
    JOIN product_warehouse pw 
        ON pw.product_id = tspu.product_id 
        AND pw.warehouse_id = tspu.warehouse_id
        AND pw.packing_unit_id = tspu.packing_unit_id
    """
    df = snowflake_query("Egypt", query)
    df['product_id'] = pd.to_numeric(df['product_id'])
    df['warehouse_id'] = pd.to_numeric(df['warehouse_id'])
    df['top_selling_pu'] = pd.to_numeric(df['top_selling_pu'])
    return df

# Run:
df_activation = fetch_product_activation()
print(f"Product activation records: {len(df_activation)}")

Product activation records: 27736

In [14]:
df_activation[df_activation['product_id']==5152]

       product_id  warehouse_id  top_selling_pu activation
5106         5152           632               2       true
6167         5152           339               2       true
6300         5152           337               2       true
6389         5152             1               2       true
7678         5152           236               2       true
7755         5152           703               2       true
11989        5152           401               2       true
12793        5152           501               2       true
12937        5152           962               2       true
14700        5152           797               2       true
18393        5152             8               2       true
26686        5152           170               2       true

In [15]:
# =============================================================================
# PART 12: FETCH COMMERCIAL CONSTRAINTS (MIN PRICES)
# =============================================================================

def fetch_commercial_constraints():
    """Fetch commercial minimum price constraints."""
    query = """
    SELECT product_id, region, min_price
    FROM (
        SELECT 
            product_id, 
            region, 
            min_price,
            created_at,
            MAX(created_at) OVER (PARTITION BY product_id, region) AS max_created
        FROM finance.minimum_prices
        WHERE is_deleted = 'false'
            AND created_at BETWEEN 
                CASE WHEN DATE_PART('day', CURRENT_DATE) < 7 
                     THEN DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') 
                     ELSE DATE_TRUNC('month', CURRENT_DATE)
                END
                AND DATE_TRUNC('month', CURRENT_DATE) + INTERVAL '1 month' + INTERVAL '6 days'
    )
    WHERE created_at = max_created
    """
    df = snowflake_query("Egypt", query)
    df['product_id'] = pd.to_numeric(df['product_id'])
    df['min_price'] = pd.to_numeric(df['min_price'])
    return df

# Run:
df_commercial = fetch_commercial_constraints()
print(f"Commercial constraint records: {len(df_commercial)}")

Commercial constraint records: 709

In [16]:
# =============================================================================
# PART 13: FETCH TARGETS DATA (COMPLEX - WAREHOUSE SKU TARGETS)
# =============================================================================

def fetch_targets_data(df_whs):
    """Fetch complex targets data with warehouse-level SKU targets."""
    # Build warehouse IDs list for the query
    warehouse_ids = df_whs['warehouse_id'].tolist()
    wh_str = ', '.join(map(str, warehouse_ids))
    
    query = f"""
    WITH whs AS (
        SELECT *
        FROM (VALUES
            ('Cairo', 'Mostorod', 1, 700),
            ('Giza', 'Barageel', 236, 701),
            ('Delta West', 'El-Mahala', 337, 703),
            ('Delta West', 'Tanta', 8, 703),
            ('Delta East', 'Mansoura FC', 339, 704),
            ('Delta East', 'Sharqya', 170, 704),
            ('Upper Egypt', 'Assiut FC', 501, 1124),
            ('Upper Egypt', 'Bani sweif', 401, 1126),
            ('Upper Egypt', 'Menya Samalot', 703, 1123),
            ('Upper Egypt', 'Sohag', 632, 1125),
            ('Alexandria', 'Khorshed Alex', 797, 702),
            ('Giza', 'Sakkarah', 962, 701)
        ) x(region, wh, warehouse_id, cohort_id)
    ),
    base_sales AS (
        SELECT
            CASE WHEN whs.region LIKE '%Delta%' THEN 'Delta' 
                 WHEN whs.region = 'Cairo' OR whs.region = 'Giza' THEN 'Greater Cairo' 
                 ELSE whs.region 
            END AS region,
            pso.warehouse_id,
            pso.product_id,
            c.name_ar AS cat,
            b.name_ar AS brand,
            SUM(pso.total_price) AS nmv,
            so.created_at::DATE AS sale_date
        FROM product_sales_order pso
        JOIN sales_orders so ON so.id = pso.sales_order_id
        JOIN products p ON p.id = pso.product_id
        JOIN categories c ON c.id = p.category_id
        JOIN brands b ON b.id = p.brand_id
        JOIN whs ON whs.warehouse_id = pso.warehouse_id
        WHERE so.sales_order_status_id NOT IN (7, 12)
            AND pso.purchased_item_count <> 0
            AND so.channel IN ('retailer', 'telesales')
            AND so.created_at::DATE BETWEEN DATE_TRUNC('month', CURRENT_DATE - INTERVAL '3 month') AND CURRENT_DATE - 1
        GROUP BY 1, 2, 3, 4, 5, 7
    ),
    region_product_nmv AS (
        SELECT region, product_id, cat, brand, SUM(nmv) AS region_product_nmv
        FROM base_sales
        GROUP BY 1, 2, 3, 4
    ),
    warehouse_contribution AS (
        SELECT 
            bs.region,
            bs.warehouse_id,
            bs.product_id,
            bs.cat,
            bs.brand,
            SUM(bs.nmv) AS warehouse_nmv,
            SUM(bs.nmv) / NULLIF(rpn.region_product_nmv, 0) AS wh_cntrb_in_region
        FROM base_sales bs
        JOIN region_product_nmv rpn ON rpn.region = bs.region 
            AND rpn.product_id = bs.product_id
        GROUP BY 1, 2, 3, 4, 5, rpn.region_product_nmv
    ),
    region_sku_cntrb AS (
        SELECT region, product_id, cat, brand,
            SUM(region_product_nmv) / SUM(SUM(region_product_nmv)) OVER (PARTITION BY region, cat, brand) AS sku_cntrb
        FROM region_product_nmv
        GROUP BY 1, 2, 3, 4
    ),
    comm_plan AS (
        SELECT
            CASE WHEN city = 'Alex' THEN 'Alexandria' ELSE city END AS region,
            cat, brand,
            SUM(nmv) AS target
        FROM performance.commercial_targets
        WHERE date BETWEEN DATE_TRUNC('month', CURRENT_DATE) AND CURRENT_DATE - 1
        GROUP BY 1, 2, 3
    ),
    current_month_sales AS (
        SELECT region, warehouse_id, product_id, SUM(nmv) AS nmv
        FROM base_sales
        WHERE sale_date >= DATE_TRUNC('month', CURRENT_DATE)
        GROUP BY 1, 2, 3
    )
    SELECT 
        wc.region,
        wc.warehouse_id,
        wc.product_id,
        wc.cat,
        wc.brand,
        cp.target * rsc.sku_cntrb AS region_sku_target,
        cp.target * rsc.sku_cntrb * wc.wh_cntrb_in_region AS wh_sku_target,
        COALESCE(cms.nmv, 0) AS sales,
        cp.target * rsc.sku_cntrb * wc.wh_cntrb_in_region - COALESCE(cms.nmv, 0) AS rem_nmv
    FROM warehouse_contribution wc
    JOIN region_sku_cntrb rsc ON rsc.region = wc.region 
        AND rsc.product_id = wc.product_id
    JOIN comm_plan cp ON cp.region = wc.region 
        AND cp.cat = wc.cat 
        AND cp.brand = wc.brand
    LEFT JOIN current_month_sales cms ON cms.product_id = wc.product_id 
        AND cms.warehouse_id = wc.warehouse_id
        AND cms.region = wc.region
    """
    df = snowflake_query("Egypt", query)
    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='ignore')
    return df

# Run:
df_targets = fetch_targets_data(df_whs)
print(f"Targets data records: {len(df_targets)}")

Targets data records: 27270

In [17]:
# =============================================================================
# PART 14: BUILD PRODUCT METRICS (MERGE ALL DATA)
# =============================================================================

def build_product_metrics(df_stocks, df_sales, df_whs, df_prices, df_cogs, 
                          df_mp, df_bsp, df_scrapped, df_cat_brand_targets, 
                          df_cat_targets, df_discounted, df_activation):
    """
    Merge all data sources to build product metrics.
    This replicates the 'product_metrics' CTE from the SQL query.
    """
    
    # Start with stocks and sales join
    df = df_stocks.merge(
        df_sales, 
        on=['product_id', 'warehouse_id'], 
        how='inner'
    )
    
    # Join warehouse mapping
    df = df.merge(df_whs, on='warehouse_id', how='inner')
    
    # Join prices (using cohort_id from warehouse mapping)
    df = df.merge(
        df_prices, 
        on=['product_id', 'cohort_id'], 
        how='inner'
    )
    
    # Join COGS
    df = df.merge(df_cogs, on='product_id', how='inner')
    
    # Calculate BM (basic margin)
    df['bm'] = (df['price'] - df['wac_p']) / df['price'].replace(0, np.nan)
    
    # Calculate in_stock_perc
    df['in_stock_perc'] = (df['stocks'] > 0).astype(int)
    
    # Join marketplace prices
    df = df.merge(
        df_mp.rename(columns={
            'min_price': 'mp_min_price',
            'mod_price': 'mp_mod_price', 
            'max_price': 'mp_max_price'
        }), 
        on=['product_id', 'region'], 
        how='left'
    )
    
    # Join Ben Soliman prices
    df = df.merge(df_bsp[['product_id', 'ben_soliman_price']], on='product_id', how='left')
    
    # Join scrapped prices
    df = df.merge(
        df_scrapped.rename(columns={
            'min_scrapped': 'min_scrapped',
            'max_scrapped': 'max_scrapped',
            'median_scrapped': 'median_scrapped'
        }), 
        on=['product_id', 'region'], 
        how='left'
    )
    
    # Join category/brand targets
    df = df.merge(
        df_cat_brand_targets[['cat', 'brand', 'target_bm']].drop_duplicates(),
        on=['cat', 'brand'],
        how='left'
    )
    
    # Join category targets (fallback)
    df = df.merge(df_cat_targets, on='cat', how='left')
    
    # Set target_margin (use cat_brand target, fall back to cat target)
    df['target_margin'] = df['target_bm'].fillna(df['cat_target_margin'])
    
    # Join discounted sales
    df = df.merge(
        df_discounted,
        on=['warehouse_id', 'product_id'],
        how='left'
    )
    
    # Join product activation status
    df = df.merge(
        df_activation[['product_id', 'warehouse_id', 'activation']],
        on=['product_id', 'warehouse_id'],
        how='left'
    )
    
    # Filter to positive prices and high_rr
    df = df[(df['price'] > 0) & (df['high_rr'] > 0)]
    
    return df

# Run after fetching all data:
df_metrics = build_product_metrics(
    df_stocks, df_sales, df_whs, df_prices, df_cogs,
    df_mp, df_bsp, df_scrapped, df_cat_brand_targets,
    df_cat_targets, df_discounted, df_activation
)
print(f"Product metrics records: {len(df_metrics)}")

Product metrics records: 27784

In [18]:
# =============================================================================
# PART 15: SCORING AND CLASSIFICATION
# =============================================================================

def add_scoring_classification(df, df_commercial):
    """
    Add scoring and classification columns.
    Replicates 'scored_classified' and 'final_scored' CTEs.
    """
    df = df.copy()
    
    # Map region for commercial constraints
    df['region_mapped'] = df['region'].apply(
        lambda x: 'Greater Cairo' if x in ['Cairo', 'Giza'] else x
    )
    
    # Join commercial constraints
    df = df.merge(
        df_commercial.rename(columns={'min_price': 'commercial_min'}),
        left_on=['product_id', 'region_mapped'],
        right_on=['product_id', 'region'],
        how='left',
        suffixes=('', '_comm')
    )
    
    # Calculate offers percentage
    df['offers_perc'] = (
        df['bundle_nmv'].fillna(0) + 
        df['sku_discount_nmv'].fillna(0) + 
        df['quantity_nmv'].fillna(0)
    ) / df['total_nmv'].replace(0, np.nan)
    
    # Calculate combined market prices
    df['combined_min_market'] = df[['mp_min_price','mp_mod_price', 'ben_soliman_price', 'min_scrapped']].min(axis=1)
    df['combined_max_market'] = df[['mp_max_price', 'ben_soliman_price', 'max_scrapped']].max(axis=1)
    
    # Calculate combined median (average of available medians)
    median_cols = ['mp_mod_price', 'ben_soliman_price', 'median_scrapped']
    df['combined_median_market'] = df[median_cols].mean(axis=1, skipna=True)
    
    # Calculate mp_price_score
    df['mp_price_score'] = (df['price'] - df['mp_min_price']) / (
        df['mp_max_price'] - df['mp_min_price']
    ).replace(0, np.nan)
    
    # Stock comment
    def get_stock_comment(row):
        if row['in_stock_perc'] == 0:
            return 'OOS'
        elif row['doh'] > 30:
            return 'Over Stocked'
        elif row['doh'] < 1:
            return 'low stock'
        else:
            return 'Good stocks'
    
    df['stock_comment'] = df.apply(get_stock_comment, axis=1)
    
    # RR comment
    def get_rr_comment(row):
        cu_rr = row['cu_rr']
        high_rr = row['high_rr']
        std = row['qty_std']
        
        if cu_rr >= high_rr - 0.5 * std and cu_rr <= high_rr + 0.5 * std:
            return 'Normal rr'
        elif cu_rr < high_rr - 0.5 * std:
            return 'low rr'
        elif cu_rr >= high_rr + 0.5 * std and cu_rr <= high_rr + 1.5 * std:
            return 'High rr'
        elif cu_rr > high_rr + 1.5 * std:
            return 'Very High rr'
        else:
            return ''
    
    df['rr_comment'] = df.apply(get_rr_comment, axis=1)
    
    # Rets comment
    def get_rets_comment(row):
        cu_rets = row['cu_rets']
        high_rets = row['high_rets']
        rets_std = row['rets_std']
        
        if cu_rets >= high_rets - 0.5 * rets_std and cu_rets <= high_rets + 0.5 * rets_std:
            return 'Normal rets'
        elif cu_rets < high_rets - 0.5 * rets_std:
            return 'low rets'
        elif cu_rets >= high_rets + 0.5 * rets_std and cu_rets <= high_rets + 1.5 * rets_std:
            return 'High rets'
        elif cu_rets > high_rets + 1.5 * rets_std:
            return 'Very High rets'
        else:
            return ''
    
    df['rets_comment'] = df.apply(get_rets_comment, axis=1)
    
    return df

In [19]:
# =============================================================================
# PART 16: FINAL SCORING - MARKET POSITION & PRICE COMMENTS
# =============================================================================

def add_final_scoring(df):
    """
    Add final scoring columns: combined_price_score, market_position_status, price_comment.
    """
    df = df.copy()
    
    # Combined price score
    def calc_combined_price_score(row):
        combined_max = row['combined_max_market']
        combined_min = row['combined_min_market']
        price = row['price']
        mp_score = row['mp_price_score']
        
        if pd.notna(combined_max) and combined_max > 0 and pd.notna(combined_min) and combined_min < 1e9:
            if combined_max != combined_min:
                return (price - combined_min) / (combined_max - combined_min)
        return mp_score
    
    df['combined_price_score'] = df.apply(calc_combined_price_score, axis=1)
    
    # Market position status
    def get_market_position(row):
        price = row['price']
        combined_min = row['combined_min_market']
        combined_median = row['combined_median_market']
        combined_max = row['combined_max_market']
        mp_min = row['mp_min_price']
        bsp = row['ben_soliman_price']
        median_scr = row['median_scrapped']
        
        # Check if no market data
        if (pd.isna(combined_median) and pd.isna(mp_min) and 
            pd.isna(bsp) and pd.isna(median_scr)):
            return 'No Market Data'
        
        # Adjust for edge cases
        min_val = combined_min if pd.notna(combined_min) and combined_min < 1e9 else None
        max_val = combined_max if pd.notna(combined_max) and combined_max > 0 else None
        
        if min_val is not None:
            if price < min_val:
                return 'Below Market'
            elif price <= min_val * 1.005:
                return 'At Market Min'
        
        if pd.notna(combined_median):
            if price < combined_median * 0.995:
                return 'Below Median'
            elif price <= combined_median * 1.005:
                return 'At Median'
        
        if max_val is not None:
            if price < max_val * 0.995:
                return 'Above Median'
            elif price <= max_val * 1.005:
                return 'At Market Max'
            elif price > max_val * 1.005:
                return 'Above Market'
        
        return 'At Median'
    
    df['market_position_status'] = df.apply(get_market_position, axis=1)
    
    # Price comment
    def get_price_comment(row):
        combined_min = row['combined_min_market']
        combined_max = row['combined_max_market']
        price = row['price']
        bm = row['bm']
        target = row['target_margin']
        mp_score = row['mp_price_score']
        
        # Calculate price score
        if pd.notna(combined_max) and pd.notna(combined_min) and combined_max != combined_min:
            price_score = (price - combined_min) / (combined_max - combined_min)
        else:
            price_score = mp_score
        
        if pd.isna(price_score):
            if pd.notna(bm) and pd.notna(target):
                return 'below target' if bm < target else 'above target'
            return 'above target'
        
        if price_score > 0 and bm > target:
            return 'High price'
        elif price_score > 0 and bm < target:
            return 'Credit note'
        elif price_score < 0 and bm < target:
            return 'Low Price'
        elif price_score < 0 and bm > target:
            return 'room to reduce'
        elif bm < target:
            return 'below target'
        else:
            return 'above target'
    
    df['price_comment'] = df.apply(get_price_comment, axis=1)
    
    return df

In [20]:
# =============================================================================
# PART 17: ACTION CLASSIFICATION LOGIC
# =============================================================================

def determine_action(row):
    """
    Determine recommended action based on stock, price, and RR status.
    This replicates the complex CASE statement in the final SELECT.
    """
    stock_comment = row['stock_comment']
    price_comment = row['price_comment']
    rr_comment = row['rr_comment']
    offers_perc = row.get('offers_perc', 0) or 0
    commercial_min = row.get('commercial_min')
    bm = row['bm']
    target = row['target_margin']
    cu_rr = row['cu_rr']
    today_rr = row['today_rr']
    stocks = row['stocks']
    
    # OOS
    if stock_comment == 'OOS':
        return 'purchase'
    
    # Good stocks scenarios
    if stock_comment == 'Good stocks':
        if price_comment in ['Low Price', 'below target'] and rr_comment == 'low rr':
            if offers_perc < 0.1:
                return 'offers & Credit Note'
            return 'Credit Note'
        if price_comment in ['Low Price', 'below target'] and rr_comment != 'low rr':
            return 'increase price'
        if price_comment == 'Credit note' and rr_comment == 'low rr':
            return 'Credit Note'
        if price_comment in ['High price', 'room to reduce', 'above target'] and rr_comment == 'low rr':
            if pd.isna(commercial_min):
                return 'Reduce price'
            return 'Remove commercial min'
        if rr_comment == 'Normal rr':
            return 'No action'
        if rr_comment == 'Very High rr' and bm < target:
            return 'Increase price'
        if rr_comment in ['Very High rr', 'High rr'] and bm >= target:
            return 'No action'
        if rr_comment == 'High rr' and bm < target:
            return 'Increase price a bit'
        if price_comment in ['Low Price', 'below target'] and offers_perc > 0.1:
            return 'Credit Note'
    
    # Low stock scenarios
    if stock_comment == 'low stock':
        if price_comment == 'Credit note' and rr_comment == 'low rr':
            return 'Credit Note & Purchase'
        if price_comment in ['below target', 'Low Price'] and rr_comment == 'low rr':
            if offers_perc < 0.1:
                return 'Offers & Purchase'
            return 'Purchase'
        if price_comment in ['High price', 'above target', 'room to reduce'] and rr_comment == 'low rr':
            if pd.isna(commercial_min):
                return 'Purchase & reduce price'
            return 'Purchase & Remove commercial min'
        if rr_comment in ['High rr', 'Normal rr']:
            return 'Purchase'
        if rr_comment == 'Very High rr':
            return 'increase price'
    
    # Over stocked scenarios
    if stock_comment == 'Over Stocked':
        if price_comment in ['below target', 'Low Price', 'Credit note'] and rr_comment == 'low rr':
            return 'Credit Note'
        if price_comment in ['High price', 'above target', 'room to reduce'] and rr_comment == 'low rr':
            if cu_rr > 0:
                if pd.isna(commercial_min):
                    return 'Reduce price'
                return 'Remove commercial min'
            elif today_rr == 0:
                return 'Check activation'
            else:
                return 'Remove commercial min'
        if price_comment in ['below target', 'Low Price', 'Credit note'] and rr_comment in ['Very High rr', 'High rr', 'Normal rr']:
            if stocks / (cu_rr if cu_rr > 0 else 1) < 30:
                return 'No Action'
            return 'Credit Note'
        if price_comment in ['High price', 'above target'] and rr_comment in ['Very High rr', 'High rr', 'Normal rr']:
            if stocks / (cu_rr if cu_rr > 0 else 1) < 30:
                return 'No Action'
            return 'Reduce Price'
    
    # Additional edge cases
    if price_comment in ['below target', 'Low Price'] and rr_comment == 'low rr':
        if cu_rr == 0 and today_rr > 0:
            return 'No action'
        elif cu_rr == 0:
            return 'Check activation'
    
    return None

def add_actions(df):
    """Add action and team assignment columns."""
    df = df.copy()
    
    # Determine action
    df['action'] = df.apply(determine_action, axis=1)
    
    # Assign to teams based on action
    df['pricing_team'] = df['action'].apply(
        lambda x: 1 if pd.notna(x) and ('price' in str(x).lower() or 'offers' in str(x).lower()) else None
    )
    df['purchase_team'] = df['action'].apply(
        lambda x: 1 if pd.notna(x) and 'purchase' in str(x).lower() else None
    )
    df['commercial_team'] = df['action'].apply(
        lambda x: 1 if pd.notna(x) and ('credit note' in str(x).lower() or 
                                         'commercial min' in str(x).lower() or 
                                         'activation' in str(x).lower()) else None
    )
    
    return df

In [21]:
# =============================================================================
# PART 18: FINALIZE OUTPUT & ADD CALCULATED COLUMNS
# =============================================================================

def finalize_output(df, df_targets):
    """
    Finalize the output DataFrame with all calculated columns.
    Add stock value, stock contribution, and join targets data.
    """
    df = df.copy()
    
    # Calculate stock value
    df['stock_value'] = df['stocks'] * df['price']
    
    # Calculate stock contribution per warehouse
    df['stock_cntrb'] = df.groupby('warehouse_id')['stock_value'].transform(
        lambda x: x / x.sum() if x.sum() > 0 else 0
    )
    
    # Join targets data
    df = df.merge(
        df_targets[['warehouse_id', 'product_id', 'wh_sku_target', 'rem_nmv']],
        on=['warehouse_id', 'product_id'],
        how='left'
    )
    
    # Clean up combined_min_market (replace inf with None)
    df['combined_min_market'] = df['combined_min_market'].replace([np.inf, -np.inf, 1e9], np.nan)
    df['combined_max_market'] = df['combined_max_market'].replace([0, np.inf, -np.inf], np.nan)
    
    # Select and order final columns
    final_columns = [
        'region', 'wh', 'warehouse_id', 'product_id', 'sku', 'cat', 'brand',
        'stocks', 'doh', 'stock_comment','wac_p', 'price', 'bm', 'target_margin', 'price_comment',
        'mp_min_price', 'mp_mod_price', 'mp_max_price', 'ben_soliman_price',
        'min_scrapped', 'median_scrapped', 'max_scrapped',
        'combined_min_market', 'combined_median_market', 'combined_max_market',
        'mp_price_score', 'combined_price_score', 'market_position_status',
        'high_rr', 'cu_rr', 'today_rr', 'rr_comment',
        'high_rets', 'cu_rets', 'rets_comment', 'offers_perc', 'commercial_min',
        'action', 'pricing_team', 'purchase_team', 'commercial_team', 'activation',
        'stock_value', 'stock_cntrb', 'wh_sku_target', 'rem_nmv'
    ]
    
    # Keep only columns that exist
    existing_cols = [c for c in final_columns if c in df.columns]
    df = df[existing_cols]
    
    # Sort by high_rr * price descending
    df['_sort_key'] = df['high_rr'] * df['price']
    df = df.sort_values('_sort_key', ascending=False).drop('_sort_key', axis=1)
    
    # Rename 'wh' to 'warehouse_name' for clarity
    df = df.rename(columns={'wh': 'warehouse_name', 'cu_rr': 'current_rr'})
    
    return df

In [22]:
# =============================================================================
# PART 19: MAIN EXECUTION - RUN THE COMPLETE ANALYSIS
# =============================================================================

def run_pricing_status_analysis():
    """
    Main function to run the complete pricing status analysis.
    
    Returns:
        DataFrame with all pricing status metrics and recommended actions.
    """
    print("=" * 60)
    print("PRICING STATUS ANALYSIS")
    print("=" * 60)
    
    # Step 1: Get warehouse mapping
    print("\n[1/13] Loading warehouse mapping...")
    df_whs = get_warehouse_mapping()
    print(f"       ✓ {len(df_whs)} warehouses loaded")
    
    # Step 2: Fetch COGS data
    print("\n[2/13] Fetching COGS data...")
    df_cogs = fetch_current_cogs()
    print(f"       ✓ {len(df_cogs)} COGS records fetched")
    
    # Step 3: Fetch stocks data
    print("\n[3/13] Fetching stock data...")
    df_stocks = fetch_stocks()
    print(f"       ✓ {len(df_stocks)} stock records fetched")
    
    # Step 4: Fetch sales data
    print("\n[4/13] Fetching sales data...")
    df_sales = fetch_sales()
    print(f"       ✓ {len(df_sales)} sales records fetched")
    
    # Step 5: Fetch prices
    print("\n[5/13] Fetching price data...")
    df_prices = fetch_prices()
    print(f"       ✓ {len(df_prices)} price records fetched")
    
    # Step 6: Fetch marketplace prices
    print("\n[6/13] Fetching marketplace prices...")
    df_mp = fetch_marketplace_prices()
    print(f"       ✓ {len(df_mp)} marketplace price records fetched")
    
    # Step 7: Fetch Ben Soliman prices
    print("\n[7/13] Fetching Ben Soliman prices...")
    df_bsp = fetch_ben_soliman_prices()
    print(f"       ✓ {len(df_bsp)} Ben Soliman price records fetched")
    
    # Step 8: Fetch scrapped prices
    print("\n[8/13] Fetching scrapped market prices...")
    df_scrapped = fetch_scrapped_prices()
    print(f"       ✓ {len(df_scrapped)} scrapped price records fetched")
    
    # Step 9: Fetch targets
    print("\n[9/13] Fetching category/brand targets...")
    df_cat_brand_targets = fetch_cat_brand_targets()
    df_cat_targets = fetch_cat_targets(df_cat_brand_targets)
    print(f"       ✓ {len(df_cat_brand_targets)} category/brand targets fetched")
    
    # Step 10: Fetch discounted sales
    print("\n[10/13] Fetching discounted sales data...")
    df_discounted = fetch_discounted_sales()
    print(f"       ✓ {len(df_discounted)} discounted sales records fetched")
    
    # Step 11: Fetch commercial constraints
    print("\n[11/13] Fetching commercial constraints...")
    df_commercial = fetch_commercial_constraints()
    print(f"       ✓ {len(df_commercial)} commercial constraint records fetched")
    
    # Step 12: Fetch targets data
    print("\n[12/13] Fetching warehouse SKU targets...")
    df_targets = fetch_targets_data(df_whs)
    print(f"       ✓ {len(df_targets)} target records fetched")
    
    # Step 13: Fetch product activation status
    print("\n[13/13] Fetching product activation status...")
    df_activation = fetch_product_activation()
    print(f"       ✓ {len(df_activation)} activation records fetched")
    
    # Process and merge data
    print("\n" + "-" * 60)
    print("PROCESSING DATA...")
    print("-" * 60)
    
    # Build product metrics
    print("\n[A] Building product metrics...")
    df_metrics = build_product_metrics(
        df_stocks, df_sales, df_whs, df_prices, df_cogs,
        df_mp, df_bsp, df_scrapped, df_cat_brand_targets,
        df_cat_targets, df_discounted, df_activation
    )
    print(f"    ✓ {len(df_metrics)} product-warehouse combinations")
    
    # Add scoring and classification
    print("\n[B] Adding scoring and classification...")
    df_scored = add_scoring_classification(df_metrics, df_commercial)
    print(f"    ✓ Scoring added")
    
    # Add final scoring
    print("\n[C] Adding final scoring (market position, price comments)...")
    df_final_scored = add_final_scoring(df_scored)
    print(f"    ✓ Final scoring added")
    
    # Add actions
    print("\n[D] Determining recommended actions...")
    df_with_actions = add_actions(df_final_scored)
    print(f"    ✓ Actions determined")
    
    # Finalize output
    print("\n[E] Finalizing output...")
    df_final = finalize_output(df_with_actions, df_targets)
    print(f"    ✓ Final output ready with {len(df_final)} records")
    
    print("\n" + "=" * 60)
    print("ANALYSIS COMPLETE!")
    print("=" * 60)
    
    return df_final

# Run the full analysis:
df_result = run_pricing_status_analysis()
df_result.head()

============================================================
PRICING STATUS ANALYSIS
============================================================

[1/13] Loading warehouse mapping...
       ✓ 12 warehouses loaded

[2/13] Fetching COGS data...
       ✓ 8080 COGS records fetched

[3/13] Fetching stock data...
       ✓ 1800227 stock records fetched

[4/13] Fetching sales data...
       ✓ 33160 sales records fetched

[5/13] Fetching price data...
       ✓ 192371 price records fetched

[6/13] Fetching marketplace prices...
       ✓ 7863 marketplace price records fetched

[7/13] Fetching Ben Soliman prices...
       ✓ 1371 Ben Soliman price records fetched

[8/13] Fetching scrapped market prices...
       ✓ 5583 scrapped price records fetched

[9/13] Fetching category/brand targets...
       ✓ 482 category/brand targets fetched

[10/13] Fetching discounted sales data...
       ✓ 10280 discounted sales records fetched

[11/13] Fetching commercial constraints...
       ✓ 709 commercial constraint records fetched

[12/13] Fetching warehouse SKU targets...
       ✓ 27270 target records fetched

[13/13] Fetching product activation status...
       ✓ 27736 activation records fetched

------------------------------------------------------------
PROCESSING DATA...
------------------------------------------------------------

[A] Building product metrics...
    ✓ 27784 product-warehouse combinations

[B] Adding scoring and classification...
    ✓ Scoring added

[C] Adding final scoring (market position, price comments)...
    ✓ Final scoring added

[D] Determining recommended actions...
    ✓ Actions determined

[E] Finalizing output...
    ✓ Final output ready with 27784 records

============================================================
ANALYSIS COMPLETE!
============================================================

,region,warehouse_name,warehouse_id,product_id,sku,cat,brand,stocks,doh,stock_comment,...,commercial_min,action,pricing_team,purchase_team,commercial_team,activation,stock_value,stock_cntrb,wh_sku_target,rem_nmv
22450,Cairo,Mostorod,1,7630,فيورى جولد - 400 مل,مشروبات الطاقة,فيوري,0,0.000000,OOS,...,NaN,purchase,NaN,1.0,NaN,true,0.00,0.000000,2.000879e+06,1.115151e+06
18152,Giza,Sakkarah,962,7630,فيورى جولد - 400 مل,مشروبات الطاقة,فيوري,942,1.605796,Good stocks,...,NaN,Reduce price,1.0,NaN,NaN,true,225609.00,0.008830,7.928825e+05,-8.753810e+04
22785,Cairo,Mostorod,1,326,بيبسى كانز ستار - 320 مل,حاجه ساقعه,بيبسي,1613,4.687454,Good stocks,...,NaN,No action,NaN,NaN,NaN,true,511724.25,0.012746,1.593137e+06,4.157466e+05
7564,Giza,Barageel,236,7630,فيورى جولد - 400 مل,مشروبات الطاقة,فيوري,0,0.000000,OOS,...,NaN,purchase,NaN,1.0,NaN,true,0.00,0.000000,1.187696e+06,8.406491e+05
22733,Cairo,Mostorod,1,5151,ريد بل - 250 مل,مشروبات الطاقة,ريد بل,1393,12.733142,Good stocks,...,NaN,Increase price,1.0,NaN,NaN,true,1658714.75,0.041316,1.602959e+06,5.456259e+05

In [23]:
# =============================================================================
# PART 20: UTILITY FUNCTIONS - EXPORT & SUMMARY
# =============================================================================

def export_results(df, filename='pricing_status_output.xlsx'):
    """Export results to Excel file."""
    df.to_excel(filename, index=False)
    print(f"Results exported to {filename}")
    return filename

def get_summary_stats(df):
    """Generate summary statistics from the analysis results."""
    summary = {
        'Total SKU-Warehouse combinations': len(df),
        'Unique Products': df['product_id'].nunique() if 'product_id' in df.columns else 0,
        'Unique Warehouses': df['warehouse_id'].nunique() if 'warehouse_id' in df.columns else 0,
    }
    
    # Stock status breakdown
    if 'stock_comment' in df.columns:
        stock_status = df['stock_comment'].value_counts().to_dict()
        summary['Stock Status'] = stock_status
    
    # Action breakdown
    if 'action' in df.columns:
        action_counts = df['action'].value_counts().to_dict()
        summary['Actions'] = action_counts
    
    # Team assignments
    if 'pricing_team' in df.columns:
        summary['Pricing Team Items'] = df['pricing_team'].notna().sum()
    if 'purchase_team' in df.columns:
        summary['Purchase Team Items'] = df['purchase_team'].notna().sum()
    if 'commercial_team' in df.columns:
        summary['Commercial Team Items'] = df['commercial_team'].notna().sum()
    
    # Market position breakdown
    if 'market_position_status' in df.columns:
        market_pos = df['market_position_status'].value_counts().to_dict()
        summary['Market Position'] = market_pos
    
    return summary

def print_summary(summary):
    """Pretty print the summary statistics."""
    print("\n" + "=" * 60)
    print("SUMMARY STATISTICS")
    print("=" * 60)
    
    for key, value in summary.items():
        if isinstance(value, dict):
            print(f"\n{key}:")
            for k, v in value.items():
                print(f"    {k}: {v}")
        else:
            print(f"{key}: {value}")
    
    print("\n" + "=" * 60)

# Usage:
summary = get_summary_stats(df_result)
print_summary(summary)
export_results(df_result, 'pricing_status_output.xlsx')

============================================================
SUMMARY STATISTICS
============================================================
Total SKU-Warehouse combinations: 27784
Unique Products: 3580
Unique Warehouses: 12

Stock Status:
    Good stocks: 16230
    OOS: 8575
    Over Stocked: 2261
    low stock: 718

Actions:
    purchase: 8575
    Credit Note: 7329
    Reduce price: 5891
    No action: 1735
    increase price: 1219
    offers & Credit Note: 1129
    Check activation: 503
    Remove commercial min: 479
    Purchase: 309
    Purchase & reduce price: 183
    Increase price a bit: 80
    Increase price: 76
    Reduce Price: 72
    No Action: 60
    Offers & Purchase: 58
    Credit Note & Purchase: 53
    Purchase & Remove commercial min: 24
Pricing Team Items: 8708
Purchase Team Items: 9202
Commercial Team Items: 9517

Market Position:
    No Market Data: 10671
    Below Market: 5020
    Above Market: 3676
    At Market Min: 2411
    Above Median: 2129
    Below Median: 1739
    At Market Max: 1083
    At Median: 1055

============================================================
Results exported to pricing_status_output.xlsx

'pricing_status_output.xlsx'

# Pricing Status Analysis - Quick Reference

## Data Flow Overview:

1. **Static Data**: Warehouse mappings (region, cohort_id)
2. **COGS**: Current cost of goods (wac_p)
3. **Running Rates**: Predicted running rates from past 14 days
4. **Stocks**: Available stock with DOH calculations
5. **Sales**: 150-day sales history with percentile metrics
6. **Prices**: Latest cohort pricing
7. **Market Prices**: Min/Mod/Max from marketplace, Ben Soliman, and scraped data
8. **Targets**: Category/brand margin targets
9. **Discounts**: Bundle, SKU discount, quantity discount percentages
10. **Commercial Constraints**: Minimum price restrictions

## Key Metrics:

| Metric | Description |
|--------|-------------|
| `doh` | Days on Hand (stocks / running_rate) |
| `bm` | Basic Margin ((price - cost) / price) |
| `high_rr` | 80th percentile of historical running rate |
| `combined_price_score` | Position within market price range (0-1) |

## Action Matrix:

| Stock Status | Price Status | RR Status | Recommended Action |
|--------------|--------------|-----------|-------------------|
| OOS | - | - | Purchase |
| Good stocks | Low/Below target | Low RR | Offers & Credit Note |
| Good stocks | High | Low RR | Reduce price / Remove commercial min |
| Low stock | - | Very High RR | Increase price |
| Over Stocked | High | Low RR, cu_rr=0 | Check activation |

## Configuration:

To customize the analysis, modify:
- `get_warehouse_mapping()` - Add/remove warehouses
- `fetch_prices()` - Modify cohort_ids
- `determine_action()` - Adjust action logic thresholds

In [24]:
# =============================================================================
# RUN ANALYSIS - UNCOMMENT AND EXECUTE
# =============================================================================

# Run the full analysis:
df_result = run_pricing_status_analysis()

# View summary:
summary = get_summary_stats(df_result)
print_summary(summary)

# Preview the data:
df_result.head(20)

============================================================
PRICING STATUS ANALYSIS
============================================================

[1/13] Loading warehouse mapping...
       ✓ 12 warehouses loaded

[2/13] Fetching COGS data...
       ✓ 8080 COGS records fetched

[3/13] Fetching stock data...
       ✓ 1800227 stock records fetched

[4/13] Fetching sales data...
       ✓ 33160 sales records fetched

[5/13] Fetching price data...
       ✓ 192371 price records fetched

[6/13] Fetching marketplace prices...
       ✓ 7863 marketplace price records fetched

[7/13] Fetching Ben Soliman prices...
       ✓ 1371 Ben Soliman price records fetched

[8/13] Fetching scrapped market prices...
       ✓ 5583 scrapped price records fetched

[9/13] Fetching category/brand targets...
       ✓ 482 category/brand targets fetched

[10/13] Fetching discounted sales data...
       ✓ 10280 discounted sales records fetched

[11/13] Fetching commercial constraints...
       ✓ 709 commercial constraint records fetched

[12/13] Fetching warehouse SKU targets...
       ✓ 27270 target records fetched

[13/13] Fetching product activation status...
       ✓ 27736 activation records fetched

------------------------------------------------------------
PROCESSING DATA...
------------------------------------------------------------

[A] Building product metrics...
    ✓ 27784 product-warehouse combinations

[B] Adding scoring and classification...
    ✓ Scoring added

[C] Adding final scoring (market position, price comments)...
    ✓ Final scoring added

[D] Determining recommended actions...
    ✓ Actions determined

[E] Finalizing output...
    ✓ Final output ready with 27784 records

============================================================
ANALYSIS COMPLETE!
============================================================

============================================================
SUMMARY STATISTICS
============================================================
Total SKU-Warehouse combinations: 27784
Unique Products: 3580
Unique Warehouses: 12

Stock Status:
    Good stocks: 16230
    OOS: 8575
    Over Stocked: 2261
    low stock: 718

Actions:
    purchase: 8575
    Credit Note: 7329
    Reduce price: 5891
    No action: 1735
    increase price: 1219
    offers & Credit Note: 1129
    Check activation: 503
    Remove commercial min: 479
    Purchase: 309
    Purchase & reduce price: 183
    Increase price a bit: 80
    Increase price: 76
    Reduce Price: 72
    No Action: 60
    Offers & Purchase: 58
    Credit Note & Purchase: 53
    Purchase & Remove commercial min: 24
Pricing Team Items: 8708
Purchase Team Items: 9202
Commercial Team Items: 9517

Market Position:
    No Market Data: 10671
    Below Market: 5020
    Above Market: 3676
    At Market Min: 2411
    Above Median: 2129
    Below Median: 1739
    At Market Max: 1083
    At Median: 1055

============================================================

,region,warehouse_name,warehouse_id,product_id,sku,cat,brand,stocks,doh,stock_comment,...,commercial_min,action,pricing_team,purchase_team,commercial_team,activation,stock_value,stock_cntrb,wh_sku_target,rem_nmv
22450,Cairo,Mostorod,1,7630,فيورى جولد - 400 مل,مشروبات الطاقة,فيوري,0,0.000000,OOS,...,NaN,purchase,NaN,1.0,NaN,true,0.00,0.000000,2.000879e+06,1.115151e+06
18152,Giza,Sakkarah,962,7630,فيورى جولد - 400 مل,مشروبات الطاقة,فيوري,942,1.605796,Good stocks,...,NaN,Reduce price,1.0,NaN,NaN,true,225609.00,0.008830,7.928825e+05,-8.753810e+04
22785,Cairo,Mostorod,1,326,بيبسى كانز ستار - 320 مل,حاجه ساقعه,بيبسي,1613,4.687454,Good stocks,...,NaN,No action,NaN,NaN,NaN,true,511724.25,0.012746,1.593137e+06,4.157466e+05
7564,Giza,Barageel,236,7630,فيورى جولد - 400 مل,مشروبات الطاقة,فيوري,0,0.000000,OOS,...,NaN,purchase,NaN,1.0,NaN,true,0.00,0.000000,1.187696e+06,8.406491e+05
22733,Cairo,Mostorod,1,5151,ريد بل - 250 مل,مشروبات الطاقة,ريد بل,1393,12.733142,Good stocks,...,NaN,Increase price,1.0,NaN,NaN,true,1658714.75,0.041316,1.602959e+06,5.456259e+05
22761,Cairo,Mostorod,1,130,لبن بخيره - 500 مل,ألبان,بخيره,270,1.679748,Good stocks,...,NaN,No action,NaN,NaN,NaN,true,134527.50,0.003351,8.937177e+05,-2.644351e+05
14792,Upper Egypt,Bani sweif,401,7630,فيورى جولد - 400 مل,مشروبات الطاقة,فيوري,0,0.000000,OOS,...,NaN,purchase,NaN,1.0,NaN,true,0.00,0.000000,1.970966e+04,1.970966e+04
12423,Delta East,Sharqya,170,7630,فيورى جولد - 400 مل,مشروبات الطاقة,فيوري,0,0.000000,OOS,...,NaN,purchase,NaN,1.0,NaN,true,0.00,0.000000,NaN,NaN
22720,Giza,Sakkarah,962,326,بيبسى كانز ستار - 320 مل,حاجه ساقعه,بيبسي,718,4.503402,Good stocks,...,NaN,No action,NaN,NaN,NaN,true,232273.00,0.009091,8.715057e+05,2.071025e+05
22760,Cairo,Mostorod,1,2049,كوفى بريك 2*1 - 11 جم,قهوة,كوفي بريك,8692,7.110892,Good stocks,...,NaN,No action,NaN,NaN,NaN,true,460676.00,0.011475,9.151073e+05,1.268818e+05
22757,Cairo,Mostorod,1,151,لبن بخيره - 1 لتر,ألبان,بخيره,1214,6.169899,Good stocks,...,NaN,No action,NaN,NaN,NaN,true,536588.00,0.013366,6.959270e+05,-7.451203e+05
22740,Cairo,Mostorod,1,3,ارز حبوبة رفيع - 1 كجم,أرز,حبوبة,0,0.000000,OOS,...,NaN,purchase,NaN,1.0,NaN,true,0.00,0.000000,1.146127e+06,-3.913191e+05
22693,Cairo,Mostorod,1,1492,زيت حبوبة خليط - 1 لتر,زيوت,حبوبة,604,11.061950,Good stocks,...,NaN,Credit Note,NaN,NaN,1.0,true,479727.00,0.011949,1.056487e+06,1.712080e+05
22701,Giza,Sakkarah,962,130,لبن بخيره - 500 مل,ألبان,بخيره,673,5.322677,Good stocks,...,NaN,Reduce price,1.0,NaN,NaN,true,333303.25,0.013046,6.050069e+05,-6.544805e+04
22473,Giza,Sakkarah,962,151,لبن بخيره - 1 لتر,ألبان,بخيره,1160,8.559823,Good stocks,...,NaN,Reduce price,1.0,NaN,NaN,true,510400.00,0.019977,5.625531e+05,-4.586102e+05
22622,Cairo,Mostorod,1,6935,كوكاكولا اكشن - 300 مل,حاجه ساقعه,كوكا كولا,1774,3.840718,Good stocks,...,NaN,Reduce price,1.0,NaN,NaN,true,183609.00,0.004573,7.443005e+05,7.557785e+04
22662,Giza,Sakkarah,962,5151,ريد بل - 250 مل,مشروبات الطاقة,ريد بل,1265,27.388257,Good stocks,...,NaN,increase price,1.0,NaN,NaN,true,1511042.50,0.059143,1.092083e+06,5.227738e+05
22759,Cairo,Mostorod,1,589,بيبسى - 2.43 لتر,حاجه ساقعه,بيبسي,2100,4.834404,Good stocks,...,NaN,No action,NaN,NaN,NaN,true,401625.00,0.010004,8.470963e+05,-1.868326e+05
22711,Giza,Barageel,236,326,بيبسى كانز ستار - 320 مل,حاجه ساقعه,بيبسي,781,6.313696,Good stocks,...,NaN,No action,NaN,NaN,NaN,true,252653.50,0.007899,7.435234e+05,2.318909e+05
22167,Delta West,Tanta,8,7630,فيورى جولد - 400 مل,مشروبات الطاقة,فيوري,0,0.000000,OOS,...,NaN,purchase,NaN,1.0,NaN,NaN,0.00,0.000000,NaN,NaN

In [25]:
# =============================================================================
# EXPORT RESULTS TO EXCEL (Optional)
# =============================================================================

# Export:
export_results(df_result, 'pricing_status_output.xlsx')

Results exported to pricing_status_output.xlsx

'pricing_status_output.xlsx'

In [26]:
# =============================================================================
# AGGREGATE ANALYSIS VIEW
# =============================================================================

def create_aggregate_analysis(df):
    """
    Create aggregate analysis showing:
    - Total target NMV (high_rr * price)
    - Top dropping brands based on RR performance
    - Market status breakdown by brand
    - Required actions summary
    """
    df_analysis = df.copy()
    
    # Calculate target NMV per row (high_rr * price)
    df_analysis['target_nmv'] = df_analysis['high_rr'] * df_analysis['price']
    
    # Calculate RR drop percentage: (high_rr - current_rr) / high_rr
    df_analysis['rr_drop_pct'] = (df_analysis['high_rr'] - df_analysis['current_rr']) / df_analysis['high_rr'].replace(0, np.nan)
    
    # ==========================================================================
    # 1. TOTAL TARGET NMV SUMMARY
    # ==========================================================================
    total_target_nmv = df_analysis['target_nmv'].sum()
    total_current_nmv = (df_analysis['current_rr'] * df_analysis['price']).sum()
    nmv_gap = total_target_nmv - total_current_nmv
    nmv_gap_pct = nmv_gap / total_target_nmv * 100 if total_target_nmv > 0 else 0
    
    print("=" * 80)
    print("📊 AGGREGATE ANALYSIS - PRICING STATUS")
    print("=" * 80)
    
    print("\n" + "─" * 80)
    print("💰 TOTAL NMV SUMMARY")
    print("─" * 80)
    print(f"  Target NMV (High RR × Price):    {total_target_nmv:>15,.0f} EGP")
    print(f"  Current NMV (Current RR × Price): {total_current_nmv:>15,.0f} EGP")
    print(f"  NMV Gap:                          {nmv_gap:>15,.0f} EGP ({nmv_gap_pct:.1f}%)")
    
    # ==========================================================================
    # 2. TOP DROPPING BRANDS ANALYSIS
    # ==========================================================================
    brand_agg = df_analysis.groupby('brand').agg({
        'target_nmv': 'sum',
        'high_rr': 'sum',
        'current_rr': 'sum',
        'price': 'mean',
        'product_id': 'nunique',
        'warehouse_id': 'nunique'
    }).reset_index()
    
    brand_agg.columns = ['brand', 'target_nmv', 'total_high_rr', 'total_current_rr', 
                         'avg_price', 'num_products', 'num_warehouses']
    
    # Calculate current NMV and drop metrics
    brand_agg['current_nmv'] = brand_agg['total_current_rr'] * brand_agg['avg_price']
    brand_agg['nmv_drop'] = brand_agg['target_nmv'] - brand_agg['current_nmv']
    brand_agg['rr_drop_pct'] = ((brand_agg['total_high_rr'] - brand_agg['total_current_rr']) / 
                                 brand_agg['total_high_rr'].replace(0, np.nan) * 100)
    
    # Sort by NMV drop (biggest drops first)
    brand_agg_sorted = brand_agg.sort_values('nmv_drop', ascending=False)
    
    print("\n" + "─" * 80)
    print("📉 TOP 15 DROPPING BRANDS (by NMV Gap)")
    print("─" * 80)
    
    top_dropping = brand_agg_sorted.head(15)
    print(f"{'Brand':<30} {'Target NMV':>15} {'Current NMV':>15} {'NMV Drop':>15} {'RR Drop%':>10}")
    print("─" * 85)
    for _, row in top_dropping.iterrows():
        print(f"{str(row['brand'])[:30]:<30} {row['target_nmv']:>15,.0f} {row['current_nmv']:>15,.0f} "
              f"{row['nmv_drop']:>15,.0f} {row['rr_drop_pct']:>9.1f}%")
    
    # ==========================================================================
    # 3. MARKET STATUS BY DROPPING BRANDS
    # ==========================================================================
    # Get top 15 dropping brand names
    top_dropping_brands = top_dropping['brand'].tolist()
    
    # Filter data to only include top dropping brands
    df_top_brands = df_analysis[df_analysis['brand'].isin(top_dropping_brands)]
    
    # Market status breakdown for top dropping brands
    market_status_by_brand = df_top_brands.groupby(['brand', 'market_position_status']).agg({
        'target_nmv': 'sum',
        'product_id': 'nunique'
    }).reset_index()
    
    market_status_by_brand.columns = ['brand', 'market_position', 'target_nmv', 'num_skus']
    
    # Pivot for better view
    market_pivot = market_status_by_brand.pivot_table(
        index='brand', 
        columns='market_position', 
        values='num_skus', 
        fill_value=0
    ).reset_index()
    
    print("\n" + "─" * 80)
    print("🏪 MARKET POSITION STATUS (Top Dropping Brands - SKU Count)")
    print("─" * 80)
    print(market_pivot.to_string(index=False))
    
    # ==========================================================================
    # 4. REQUIRED ACTIONS BY BRAND
    # ==========================================================================
    actions_by_brand = df_top_brands.groupby(['brand', 'action']).agg({
        'target_nmv': 'sum',
        'product_id': 'nunique'
    }).reset_index()
    
    actions_by_brand.columns = ['brand', 'action', 'target_nmv', 'num_skus']
    
    # Pivot actions
    action_pivot = actions_by_brand.pivot_table(
        index='brand',
        columns='action',
        values='num_skus',
        fill_value=0
    ).reset_index()
    
    print("\n" + "─" * 80)
    print("⚡ REQUIRED ACTIONS (Top Dropping Brands - SKU Count)")
    print("─" * 80)
    print(action_pivot.to_string(index=False))
    
    # ==========================================================================
    # 5. ACTION SUMMARY FOR TOP DROPPING BRANDS
    # ==========================================================================
    action_summary = df_top_brands.groupby('action').agg({
        'target_nmv': 'sum',
        'product_id': 'nunique',
        'brand': 'nunique'
    }).reset_index()
    
    action_summary.columns = ['action', 'target_nmv_at_risk', 'num_skus', 'num_brands']
    action_summary = action_summary.sort_values('target_nmv_at_risk', ascending=False)
    
    print("\n" + "─" * 80)
    print("📋 ACTION PRIORITY SUMMARY (Top Dropping Brands)")
    print("─" * 80)
    print(f"{'Action':<35} {'Target NMV at Risk':>18} {'# SKUs':>10} {'# Brands':>10}")
    print("─" * 73)
    for _, row in action_summary.iterrows():
        action_name = str(row['action']) if pd.notna(row['action']) else 'No Action'
        print(f"{action_name[:35]:<35} {row['target_nmv_at_risk']:>18,.0f} {row['num_skus']:>10} {row['num_brands']:>10}")
    
    print("\n" + "=" * 80)
    
    # Return dataframes for further analysis
    return {
        'total_metrics': {
            'target_nmv': total_target_nmv,
            'current_nmv': total_current_nmv,
            'nmv_gap': nmv_gap,
            'nmv_gap_pct': nmv_gap_pct
        },
        'brand_analysis': brand_agg_sorted,
        'market_status_pivot': market_pivot,
        'action_pivot': action_pivot,
        'action_summary': action_summary
    }

# Run the aggregate analysis
aggregate_results = create_aggregate_analysis(df_result)

================================================================================
📊 AGGREGATE ANALYSIS - PRICING STATUS
================================================================================

────────────────────────────────────────────────────────────────────────────────
💰 TOTAL NMV SUMMARY
────────────────────────────────────────────────────────────────────────────────
  Target NMV (High RR × Price):         45,845,139 EGP
  Current NMV (Current RR × Price):      20,794,342 EGP
  NMV Gap:                               25,050,796 EGP (54.6%)

────────────────────────────────────────────────────────────────────────────────
📉 TOP 15 DROPPING BRANDS (by NMV Gap)
────────────────────────────────────────────────────────────────────────────────
Brand                               Target NMV     Current NMV        NMV Drop   RR Drop%
─────────────────────────────────────────────────────────────────────────────────────
فيوري                                1,101,623          56,058       1,045,565      94.8%
بيبسي                                2,126,259       1,224,849         901,410      43.6%
كوكا كولا                            1,876,609       1,179,458         697,151      50.2%
اوكسي                                1,295,915         672,272         623,643      72.9%
شويبس                                1,713,224       1,192,304         520,920      43.9%
مولفيكس                                667,847         161,481         506,366      75.8%
المراعي جبن                            522,021          51,892         470,129      90.2%
بي بم                                  560,869         139,503         421,366      73.4%
تويست                                  401,230             519         400,711     100.0%
حبوبة                                1,322,861         928,229         394,632      36.8%
بخيره                                  752,644         364,390         388,254      26.1%
المراعي البان                          646,962         266,079         380,883      53.2%
ايديتا                                 361,456           8,477         352,980      97.9%
جهينة عصاير                          1,354,929       1,006,928         348,001      50.0%
بيتي عصاير                           1,581,069       1,241,304         339,765      30.6%

────────────────────────────────────────────────────────────────────────────────
🏪 MARKET POSITION STATUS (Top Dropping Brands - SKU Count)
────────────────────────────────────────────────────────────────────────────────
        brand  Above Market  Above Median  At Market Max  At Market Min  At Median  Below Market  Below Median  No Market Data
المراعي البان           0.0           2.0            0.0            7.0        1.0           6.0           6.0             0.0
  المراعي جبن           1.0           4.0            2.0            2.0        6.0           4.0           5.0             3.0
        اوكسي          25.0          41.0           24.0           24.0       26.0          40.0          28.0            20.0
       ايديتا          37.0           8.0           13.0            2.0        1.0          22.0           3.0            35.0
        بخيره           7.0           2.0            5.0            2.0        1.0           4.0           0.0             0.0
        بي بم           6.0           1.0            0.0           10.0        3.0          11.0           0.0             8.0
        بيبسي           4.0          11.0            5.0           13.0       15.0          19.0          16.0             0.0
   بيتي عصاير           8.0           3.0            0.0            5.0        4.0           6.0           4.0             9.0
        تويست           1.0           0.0            0.0            1.0        0.0           4.0           0.0             3.0
  جهينة عصاير           9.0          16.0            7.0           13.0        8.0          16.0           8.0             7.0
        حبوبة           4.0           5.0            5.0           16.0       11.0          20.0           9.0             5.0
        شويبس           1.0           1.0            1.0           14.0        3.0          17.0           9.0             1.0
        فيوري           2.0           1.0            1.0            0.0        0.0           0.0           1.0             2.0
    كوكا كولا           8.0           8.0            1.0           15.0        8.0          10.0          13.0             2.0
      مولفيكس           4.0           3.0            2.0            8.0        5.0          10.0           1.0            20.0

────────────────────────────────────────────────────────────────────────────────
⚡ REQUIRED ACTIONS (Top Dropping Brands - SKU Count)
────────────────────────────────────────────────────────────────────────────────
        brand  Check activation  Credit Note  Credit Note & Purchase  Increase price  Increase price a bit  No Action  No action  Offers & Purchase  Purchase  Purchase & Remove commercial min  Purchase & reduce price  Reduce Price  Reduce price  Remove commercial min  increase price  offers & Credit Note  purchase
المراعي البان               0.0          7.0                     0.0             0.0                   0.0        0.0        5.0                1.0       4.0                               0.0                      0.0           0.0           5.0                    0.0             4.0                   5.0       8.0
  المراعي جبن               0.0          8.0                     3.0             0.0                   0.0        0.0        0.0                0.0       0.0                               0.0                      3.0           0.0          11.0                    0.0             0.0                   2.0      12.0
        اوكسي              16.0         42.0                     3.0             3.0                   2.0        4.0       35.0                2.0      10.0                               0.0                      5.0           4.0          50.0                    6.0             9.0                   3.0      76.0
       ايديتا               1.0          7.0                     0.0             0.0                   0.0        0.0        0.0                0.0       1.0                               1.0                      2.0           0.0           4.0                    6.0             4.0                   5.0      71.0
        بخيره               0.0          5.0                     1.0             0.0                   0.0        2.0        3.0                0.0       1.0                               0.0                      1.0           0.0           5.0                    0.0             5.0                   5.0       4.0
        بي بم               7.0         11.0                     0.0             0.0                   0.0        0.0        8.0                1.0       1.0                               0.0                      1.0           1.0          15.0                    0.0             7.0                   7.0      23.0
        بيبسي               3.0         13.0                     1.0             0.0                   0.0        1.0        8.0                0.0       4.0                               0.0                      0.0           2.0          22.0                    1.0             3.0                   1.0      18.0
   بيتي عصاير               1.0          4.0                     0.0             0.0                   0.0        0.0       12.0                0.0       3.0                               0.0                      0.0           0.0          11.0                    0.0             3.0                   0.0      16.0
        تويست               0.0          0.0                     0.0             0.0                   0.0        0.0        0.0                0.0       0.0                               0.0                      0.0           0.0           0.0                    0.0             0.0                   0.0       5.0
  جهينة عصاير               0.0         19.0                     3.0             1.0                   0.0        0.0       21.0                0.0       4.0                               0.0                      2.0           0.0          30.0                    0.0             6.0                   6.0      25.0
        حبوبة               7.0         20.0                     0.0             1.0                   0.0        2.0       15.0                3.0       5.0                               0.0                      2.0           0.0          23.0                    1.0            12.0                   8.0      24.0
        شويبس               0.0         11.0                     0.0             1.0                   1.0        1.0       12.0                0.0       4.0                               0.0                      2.0           1.0           9.0                    1.0             6.0                   2.0      13.0
        فيوري               0.0          0.0                     0.0             0.0                   0.0        0.0        0.0                0.0       0.0                               0.0                      0.0           0.0           1.0                    0.0             0.0                   0.0       2.0
    كوكا كولا               1.0         16.0                     0.0             1.0                   2.0        2.0        9.0                0.0       1.0                               0.0                      1.0           1.0          11.0                    0.0             4.0                   3.0       9.0
      مولفيكس               5.0         13.0                     0.0             0.0                   0.0        1.0        9.0                0.0       2.0                               0.0                      1.0           1.0          12.0                    0.0             9.0                  10.0      18.0

────────────────────────────────────────────────────────────────────────────────
📋 ACTION PRIORITY SUMMARY (Top Dropping Brands)
────────────────────────────────────────────────────────────────────────────────
Action                              Target NMV at Risk     # SKUs   # Brands
─────────────────────────────────────────────────────────────────────────
purchase                                     4,986,861        324         15
Reduce price                                 4,246,945        209         14
Credit Note                                  3,057,163        176         13
No action                                    2,270,406        137         11
increase price                                 588,990         72         12
offers & Credit Note                           409,316         57         12
Purchase                                       271,835         40         12
Purchase & reduce price                        113,509         20         10
Credit Note & Purchase                         107,517         11          5
No Action                                       70,029         13          7
Check activation                                57,996         41          8
Increase price a bit                            25,666          5          3
Increase price                                  24,566          7          5
Offers & Purchase                               18,566          7          4
Remove commercial min                           17,073         15          5
Reduce Price                                    10,732         10          6
Purchase & Remove commercial min                   846          1          1

================================================================================

In [27]:
# =============================================================================
# DETAILED BRAND DRILLDOWN VIEW
# =============================================================================

def get_brand_drilldown(df, brand_name):
    """
    Get detailed drilldown for a specific brand showing:
    - All SKUs for the brand
    - Their market status, RR status, and recommended actions
    """
    df_brand = df[df['brand'] == brand_name].copy()
    
    if len(df_brand) == 0:
        print(f"No data found for brand: {brand_name}")
        return None
    
    # Calculate target NMV
    df_brand['target_nmv'] = df_brand['high_rr'] * df_brand['price']
    df_brand['current_nmv'] = df_brand['current_rr'] * df_brand['price']
    df_brand['nmv_gap'] = df_brand['target_nmv'] - df_brand['current_nmv']
    
    print(f"\n{'='*80}")
    print(f"🔍 BRAND DRILLDOWN: {brand_name}")
    print(f"{'='*80}")
    
    # Summary stats
    print(f"\n📊 Summary:")
    print(f"   Total SKUs: {df_brand['product_id'].nunique()}")
    print(f"   Warehouses: {df_brand['warehouse_id'].nunique()}")
    print(f"   Target NMV: {df_brand['target_nmv'].sum():,.0f} EGP")
    print(f"   Current NMV: {df_brand['current_nmv'].sum():,.0f} EGP")
    print(f"   NMV Gap: {df_brand['nmv_gap'].sum():,.0f} EGP")
    
    # Show detailed SKU breakdown
    columns_to_show = ['warehouse_name', 'sku', 'price', 'high_rr', 'current_rr', 
                       'stock_comment', 'market_position_status', 'price_comment', 
                       'rr_comment', 'action', 'nmv_gap']
    
    existing_cols = [c for c in columns_to_show if c in df_brand.columns]
    
    df_display = df_brand[existing_cols].sort_values('nmv_gap', ascending=False)
    
    print(f"\n📋 SKU Details (sorted by NMV Gap):")
    print(df_display.to_string(index=False))
    
    return df_brand

# View top dropping brands DataFrame
print("📈 TOP DROPPING BRANDS (Full DataFrame):")
aggregate_results['brand_analysis'].head(15)

📈 TOP DROPPING BRANDS (Full DataFrame):

,brand,target_nmv,total_high_rr,total_current_rr,avg_price,num_products,num_warehouses,current_nmv,nmv_drop,rr_drop_pct
282,فيوري,1.101623e+06,4663.999,241,232.605263,2,12,5.605787e+04,1.045565e+06,94.832760
103,بيبسي,2.126259e+06,10402.788,5864,208.875969,26,12,1.224849e+06,9.014099e+05,43.630496
304,كوكا كولا,1.876609e+06,11993.799,5971,197.531106,23,12,1.179458e+06,6.971507e+05,50.215941
64,اوكسي,1.295915e+06,8115.386,2199,305.717066,88,12,6.722718e+05,6.236428e+05,72.903322
243,شويبس,1.713224e+06,10840.600,6083,196.005988,21,12,1.192304e+06,5.209196e+05,43.886870
346,مولفيكس,6.678467e+05,1979.997,480,336.419048,29,12,1.614811e+05,5.063656e+05,75.757539
54,المراعي جبن,5.220211e+05,1043.999,102,508.748062,12,12,5.189230e+04,4.701288e+05,90.229876
102,بي بم,5.608690e+05,1938.993,516,270.354167,25,12,1.395028e+05,4.213662e+05,73.388248
135,تويست,4.012303e+05,5659.800,2,259.657778,5,8,5.193156e+02,4.007110e+05,99.964663
163,حبوبة,1.322861e+06,4415.798,2792,332.460249,31,12,9.282290e+05,3.946322e+05,36.772470
83,بخيره,7.526441e+05,1734.999,1283,284.014151,10,12,3.643902e+05,3.882539e+05,26.051831
53,المراعي البان,6.469625e+05,1361.198,637,417.706989,9,12,2.660794e+05,3.808831e+05,53.202987
68,ايديتا,3.614564e+05,3083.791,64,132.448438,74,12,8.476700e+03,3.529797e+05,97.924632
154,جهينة عصاير,1.354929e+06,5644.792,2825,356.434783,36,12,1.006928e+06,3.480007e+05,49.953869
106,بيتي عصاير,1.581069e+06,6788.198,4710,263.546392,21,12,1.241304e+06,3.397655e+05,30.614870

In [28]:
# =============================================================================
# EXAMPLE: DRILLDOWN INTO TOP DROPPING BRAND
# =============================================================================

# Get the top dropping brand name
top_brand = aggregate_results['brand_analysis'].iloc[0]['brand']

# Drilldown into the top dropping brand
brand_detail = get_brand_drilldown(df_result, top_brand)

# Or specify a brand manually:
# brand_detail = get_brand_drilldown(df_result, "Your Brand Name Here")

================================================================================
🔍 BRAND DRILLDOWN: فيوري
================================================================================

📊 Summary:
   Total SKUs: 2
   Warehouses: 12
   Target NMV: 1,101,623 EGP
   Current NMV: 57,720 EGP
   NMV Gap: 1,043,903 EGP

📋 SKU Details (sorted by NMV Gap):
warehouse_name                     sku  price  high_rr  current_rr stock_comment market_position_status price_comment rr_comment       action     nmv_gap
      Mostorod     فيورى جولد - 400 مل 239.50 1171.400          16           OOS           Above Market    High price     low rr     purchase 276718.3000
      Sakkarah     فيورى جولد - 400 مل 239.50  558.000          38   Good stocks          At Market Max    High price     low rr Reduce price 124540.0000
    Bani sweif     فيورى جولد - 400 مل 239.75  395.600           0           OOS         No Market Data  above target     low rr     purchase  94845.1000
      Barageel     فيورى جولد - 400 مل 239.50  540.599         187           OOS          At Market Max    High price     low rr     purchase  84686.9605
       Sharqya     فيورى جولد - 400 مل 235.50  338.200           0           OOS           Below Median    High price     low rr     purchase  79646.1000
         Tanta     فيورى جولد - 400 مل 235.50  271.000           0           OOS         No Market Data  above target     low rr     purchase  63820.5000
 Khorshed Alex     فيورى جولد - 400 مل 235.50  254.800           0           OOS           Above Median    High price     low rr     purchase  60005.4000
      Barageel فيورى بالمانجا - 400 مل 239.50  196.800           0           OOS           Above Market    High price     low rr     purchase  47133.6000
 Menya Samalot     فيورى جولد - 400 مل 200.75  233.000           0           OOS         No Market Data  below target     low rr     purchase  46774.7500
      Mostorod فيورى بالمانجا - 400 مل 239.50  135.800           0           OOS           Above Market    High price     low rr     purchase  32524.1000
    Bani sweif فيورى بالمانجا - 400 مل 239.75  132.000           0           OOS         No Market Data  above target     low rr     purchase  31647.0000
         Sohag     فيورى جولد - 400 مل 230.00   87.400           0           OOS         No Market Data  above target     low rr     purchase  20102.0000
     Assiut FC     فيورى جولد - 400 مل 232.00   85.000           0           OOS         No Market Data  above target     low rr     purchase  19720.0000
     El-Mahala     فيورى جولد - 400 مل 235.50   82.000           0           OOS         No Market Data  above target     low rr     purchase  19311.0000
      Sakkarah فيورى بالمانجا - 400 مل 239.50   69.400           0           OOS           Above Market    High price     low rr     purchase  16621.3000
   Mansoura FC     فيورى جولد - 400 مل 235.50   62.000           0           OOS           Below Median    High price     low rr     purchase  14601.0000
 Menya Samalot فيورى بالمانجا - 400 مل 200.75   19.000           0           OOS         No Market Data  below target     low rr     purchase   3814.2500
     Assiut FC فيورى بالمانجا - 400 مل 232.00   16.000           0           OOS         No Market Data  above target     low rr     purchase   3712.0000
         Sohag فيورى بالمانجا - 400 مل 230.00   16.000           0           OOS         No Market Data  above target     low rr     purchase   3680.0000

In [29]:
# =============================================================================
# EXPORT AGGREGATE ANALYSIS TO EXCEL
# =============================================================================

def get_team_sheet(df, team_flag_column, team_name):
    """
    Get SKUs assigned to a specific team based on the team flag.
    Sorted by NMV gap descending.
    
    Args:
        df: DataFrame with all SKU data
        team_flag_column: Column name for the team flag (e.g., 'pricing_team')
        team_name: Name of the team for display
    
    Returns:
        DataFrame filtered and sorted for the team
    """
    df_team = df.copy()
    
    # Calculate NMV metrics
    df_team['target_nmv'] = df_team['high_rr'] * df_team['price']
    df_team['current_nmv'] = df_team['current_rr'] * df_team['price']
    df_team['nmv_gap'] = df_team['target_nmv'] - df_team['current_nmv']
    df_team['margin_gap'] = df_team['bm'] - df_team['target_margin']
    
    # Filter by team flag = 1
    df_team = df_team[df_team[team_flag_column] == 1].copy()
    
    # Sort by NMV gap descending
    df_team = df_team.sort_values('nmv_gap', ascending=False)
    
    # Select relevant columns
    columns_to_export = [
        'region', 'warehouse_name', 'product_id', 'sku', 'cat', 'brand',
        'stocks', 'doh', 'stock_comment', 'wac_p',
        'price', 'bm', 'target_margin', 'margin_gap', 'price_comment',
        'combined_min_market', 'combined_median_market', 'combined_max_market',
        'market_position_status',
        'high_rr', 'current_rr', 'rr_comment',
        'action', 'offers_perc', 'commercial_min', 'activation',
        'target_nmv', 'current_nmv', 'nmv_gap'
    ]
    
    existing_cols = [c for c in columns_to_export if c in df_team.columns]
    
    return df_team[existing_cols]


def get_team_summary(df):
    """
    Create a summary showing each team's total assignments and NMV gap responsibility.
    """
    df_summary = df.copy()
    
    # Calculate NMV metrics
    df_summary['target_nmv'] = df_summary['high_rr'] * df_summary['price']
    df_summary['current_nmv'] = df_summary['current_rr'] * df_summary['price']
    df_summary['nmv_gap'] = df_summary['target_nmv'] - df_summary['current_nmv']
    
    # Calculate team metrics
    teams_data = []
    
    # Pricing Team
    pricing_df = df_summary[df_summary['pricing_team'] == 1]
    teams_data.append({
        'Team': 'Pricing Team',
        'Total SKUs Assigned': len(pricing_df),
        'Unique Products': pricing_df['product_id'].nunique(),
        'Total Target NMV': pricing_df['target_nmv'].sum(),
        'Total Current NMV': pricing_df['current_nmv'].sum(),
        'Total NMV Gap': pricing_df['nmv_gap'].sum(),
        'NMV Gap %': (pricing_df['nmv_gap'].sum() / pricing_df['target_nmv'].sum() * 100) if pricing_df['target_nmv'].sum() > 0 else 0
    })
    
    # Purchase Team
    purchase_df = df_summary[df_summary['purchase_team'] == 1]
    teams_data.append({
        'Team': 'Purchase Team',
        'Total SKUs Assigned': len(purchase_df),
        'Unique Products': purchase_df['product_id'].nunique(),
        'Total Target NMV': purchase_df['target_nmv'].sum(),
        'Total Current NMV': purchase_df['current_nmv'].sum(),
        'Total NMV Gap': purchase_df['nmv_gap'].sum(),
        'NMV Gap %': (purchase_df['nmv_gap'].sum() / purchase_df['target_nmv'].sum() * 100) if purchase_df['target_nmv'].sum() > 0 else 0
    })
    
    # Commercial Team
    commercial_df = df_summary[df_summary['commercial_team'] == 1]
    teams_data.append({
        'Team': 'Commercial Team',
        'Total SKUs Assigned': len(commercial_df),
        'Unique Products': commercial_df['product_id'].nunique(),
        'Total Target NMV': commercial_df['target_nmv'].sum(),
        'Total Current NMV': commercial_df['current_nmv'].sum(),
        'Total NMV Gap': commercial_df['nmv_gap'].sum(),
        'NMV Gap %': (commercial_df['nmv_gap'].sum() / commercial_df['target_nmv'].sum() * 100) if commercial_df['target_nmv'].sum() > 0 else 0
    })
    
    # Total (all teams combined - note: some SKUs may be assigned to multiple teams)
    any_team = df_summary[(df_summary['pricing_team'] == 1) | 
                          (df_summary['purchase_team'] == 1) | 
                          (df_summary['commercial_team'] == 1)]
    teams_data.append({
        'Team': 'TOTAL (All Teams)',
        'Total SKUs Assigned': len(any_team),
        'Unique Products': any_team['product_id'].nunique(),
        'Total Target NMV': any_team['target_nmv'].sum(),
        'Total Current NMV': any_team['current_nmv'].sum(),
        'Total NMV Gap': any_team['nmv_gap'].sum(),
        'NMV Gap %': (any_team['nmv_gap'].sum() / any_team['target_nmv'].sum() * 100) if any_team['target_nmv'].sum() > 0 else 0
    })
    
    df_teams = pd.DataFrame(teams_data)
    
    # Sort by NMV Gap descending
    df_teams = df_teams.sort_values('Total NMV Gap', ascending=False)
    
    return df_teams


def export_aggregate_analysis(df, aggregate_results, filename='pricing_aggregate_analysis.xlsx'):
    """
    Export the aggregate analysis to an Excel file with multiple sheets:
    - Team Summary: Aggregate view of each team's assignments and NMV gap
    - Pricing Team: SKUs assigned to pricing team (sorted by NMV gap desc)
    - Purchase Team: SKUs assigned to purchase team (sorted by NMV gap desc)
    - Commercial Team: SKUs assigned to commercial team (sorted by NMV gap desc)
    - Brand Analysis: Top dropping brands
    - Market Status: Market position by brand
    - Actions by Brand: Required actions by brand
    - Action Summary: Summary of actions
    - Raw Data: Full detail data
    """
    df_analysis = df.copy()
    df_analysis['target_nmv'] = df_analysis['high_rr'] * df_analysis['price']
    df_analysis['current_nmv'] = df_analysis['current_rr'] * df_analysis['price']
    df_analysis['nmv_gap'] = df_analysis['target_nmv'] - df_analysis['current_nmv']
    
    # Get team sheets
    df_pricing_team = get_team_sheet(df, 'pricing_team', 'Pricing Team')
    df_purchase_team = get_team_sheet(df, 'purchase_team', 'Purchase Team')
    df_commercial_team = get_team_sheet(df, 'commercial_team', 'Commercial Team')
    df_team_summary = get_team_summary(df)
    
    with pd.ExcelWriter(filename, engine='openpyxl') as writer:
        # Sheet 1: Team Summary - Aggregate view of each team
        df_team_summary.to_excel(writer, sheet_name='Team Summary', index=False)
        
        # Sheet 2: Pricing Team - sorted by NMV gap descending
        df_pricing_team.to_excel(writer, sheet_name='Pricing Team', index=False)
        
        # Sheet 3: Purchase Team - sorted by NMV gap descending
        df_purchase_team.to_excel(writer, sheet_name='Purchase Team', index=False)
        
        # Sheet 4: Commercial Team - sorted by NMV gap descending
        df_commercial_team.to_excel(writer, sheet_name='Commercial Team', index=False)
        
        # Sheet 5: Brand Analysis (all brands)
        aggregate_results['brand_analysis'].to_excel(writer, sheet_name='Brand Analysis', index=False)
        
        # Sheet 6: Market Status Pivot
        aggregate_results['market_status_pivot'].to_excel(writer, sheet_name='Market Status', index=False)
        
        # Sheet 7: Action Pivot
        aggregate_results['action_pivot'].to_excel(writer, sheet_name='Actions by Brand', index=False)
        
        # Sheet 8: Action Summary
        aggregate_results['action_summary'].to_excel(writer, sheet_name='Action Summary', index=False)
        
        # Sheet 9: Raw Data with NMV calculations
        df_analysis.to_excel(writer, sheet_name='Raw Data', index=False)
    
    print(f"✓ Aggregate analysis exported to: {filename}")
    print(f"\n📊 TEAM ASSIGNMENTS SUMMARY:")
    print(f"  - Pricing Team:    {len(df_pricing_team):>6} SKUs | NMV Gap: {df_pricing_team['nmv_gap'].sum():>15,.0f} EGP")
    print(f"  - Purchase Team:   {len(df_purchase_team):>6} SKUs | NMV Gap: {df_purchase_team['nmv_gap'].sum():>15,.0f} EGP")
    print(f"  - Commercial Team: {len(df_commercial_team):>6} SKUs | NMV Gap: {df_commercial_team['nmv_gap'].sum():>15,.0f} EGP")
    return filename

# Export:
export_aggregate_analysis(df_result, aggregate_results, 'pricing_aggregate_analysis.xlsx')

✓ Aggregate analysis exported to: pricing_aggregate_analysis.xlsx

📊 TEAM ASSIGNMENTS SUMMARY:
  - Pricing Team:      8708 SKUs | NMV Gap:       6,842,894 EGP
  - Purchase Team:     9202 SKUs | NMV Gap:      12,398,693 EGP
  - Commercial Team:   9517 SKUs | NMV Gap:       8,305,288 EGP

'pricing_aggregate_analysis.xlsx'